[2020-03-10 05:14] treasuretron commented on #307
In GitLab by @thomasmurphy on Jan 30, 2019, 20:34

assigned to @starshyyne

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Jan 30, 2019, 20:37

@starshyyne QA environment https://www.dev-54ta5gq-ensz4qdpjmziw.us.platform.sh

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 4, 2019, 20:42

@starshyyne I've committed a config yaml for #315 to the 301 branch to avoid a world of merging if you see that some in on a pull.

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 7, 2019, 00:43

mentioned in merge request !260

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 7, 2019, 01:11

closed via merge request !260

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 7, 2019, 01:11

mentioned in commit c9638fa13f794187ff03e42910d3672379b9af14

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @jayelless on Feb 11, 2019, 16:32

mentioned in merge request !263

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 12, 2019, 00:21

mentioned in commit 5ef440be9a95b2ab163cd1f93da0310e90ce8286

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @thomasmurphy on Feb 12, 2019, 22:33

mentioned in merge request !266

[2020-03-10 05:15] treasuretron commented on #307
In GitLab by @richbodo on Feb 21, 2019, 15:47

removed milestone

[2020-03-10 05:15] #307 closed

[2020-03-10 05:15] treasuretron opened #308 "Capture errors on platform environment build automation and do something useful with them"
In GitLab by @thomasmurphy on Dec 20, 2018, 21:19

I thought we should have a (branchless!) gitlab issue for our work/research around this.

The support request text is below. Short answer is there is no way to pipe errors anywhere easily, but maybe with their webhooks system.

https://docs.platform.sh/administration/integrations/webhooks.html

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @thomasmurphy on Dec 20, 2018, 21:20

changed the description

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @thomasmurphy on Dec 20, 2018, 21:20

Thomas Murphy Yesterday at 12:27

We've been having some trouble with platform deployment jobs defined in platform.app.yaml (built by a different team) failing intermittently, but the platform admin UI saying the process had succeeded. Is it possible to pipe errors from automated drush tasks etc to the platform UI, or even back to a inked gitlab p

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @jayelless on Jan 13, 2019, 19:53

From https://docs.platform.sh/configuration/app/build.html

If we update the deploy hook command to include an initial "set -e" this should cause the deployment to fail if any of the steps fail.

[code]

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @jayelless on Jan 13, 2019, 19:58

If a deployment fails, then the command
platform environment:ssh tail /var/log/deploy.log
will provide details of the error.

I also recommend that we use a post-deploy hook to move the contents of the deploy.log to an archive to that the log file contains only the results from the most recent deployment and not the results from the last few months.

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @jayelless on Jan 13, 2019, 20:17

mentioned in merge request !255

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @jayelless on Jan 13, 2019, 21:51

Well. That looked too easy :(  The "set -e" command does not trigger a deploy abort if any of the subsequent commands contains a drush error.  I will need to investigate further.

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @thomasmurphy on Feb 12, 2019, 22:10

Update - platform are performing a performance and stability review and will get back to us in the next week.

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @richbodo on Feb 21, 2019, 15:47

removed milestone

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @jayelless on Feb 24, 2019, 21:19

I have run some additional tests on the Platform deployment process, and I find that the deployment process IS in fact, detecting the drush error return (a separate test revealed that drush 8 will return an error code of "1" if the config fails to import).  This is shown by the following output in the deploy log, which ceases when the drush config im

[2020-03-10 05:15] treasuretron commented on #308
In GitLab by @thomasmurphy on Mar 7, 2019, 16:30

We're deferring this to the next sprint, or at least until we hear back from Platform.

[2020-03-10 05:16] treasuretron opened #309 "Contribution Credits Export View"
In GitLab by @richbodo on Dec 24, 2018, 17:46

## Summary

Expose a list of contribution credits to an external system in json.  See also [the Contribution Credits spec](https://gitlab.com/spacebase/spacebase/wikis/Design-Specs/Contribution-Credits)

## Uses

I'm adding his section to provide context and inform development, because a request for context came up in discussion.  There are no require

[2020-03-10 05:16] treasuretron commented on #309
In GitLab by @richbodo on Dec 28, 2018, 15:18

changed the description

[2020-03-10 05:16] treasuretron commented on #309
In GitLab by @richbodo on Feb 21, 2019, 15:47

removed milestone

[2020-03-10 05:16] treasuretron opened #310 "Disable events on the map until we get #225 done"
In GitLab by @richbodo on Jan 2, 2019, 17:44

On the directory map, ust pull the events tab on the right until we get 225 done.

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Jan 17, 2019, 01:50

assigned to @jayelless

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Jan 17, 2019, 01:51

unassigned @thomasmurphy

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Jan 17, 2019, 01:52

@jayelless I'm assigning this to you, as I had assumed this was a trivial view block that could just be switched off, but it's actually part of the same custom block you're looking at, right?

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Feb 12, 2019, 22:11

ready to deploy on dev

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Feb 12, 2019, 22:11

closed

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @thomasmurphy on Feb 12, 2019, 22:33

mentioned in merge request !266

[2020-03-10 05:16] treasuretron commented on #310
In GitLab by @richbodo on Feb 21, 2019, 15:47

removed milestone

[2020-03-10 05:16] #310 closed

[2020-03-10 05:16] treasuretron opened #311 "Mediawiki v1 updates"
In GitLab by @richbodo on Jan 2, 2019, 18:02

Changes for Rich to make in mediawiki on the backend:

- [x] Upload spacebase logo
- [x] Update the question list to include more space questions

Documentation to write:

- [x] Start a section on managing mediawiki in the admin guide in this gitlab wiki

Add the visual editor:

- [x] Add the visual editor in demo mode
- [ ] Set up a parsoid server on

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @richbodo on Jan 17, 2019, 10:53

assigned to @treasuretron

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @richbodo on Jan 17, 2019, 10:56

changed the description

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @richbodo on Jan 17, 2019, 10:58

changed the description

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @richbodo on Jan 17, 2019, 11:05

changed the description

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @treasuretron on Jan 21, 2019, 17:29

marked the task **Upload spacebase logo** as completed

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @treasuretron on Jan 23, 2019, 13:14

marked the task **Update the question list to include more space questions** as completed

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @treasuretron on Jan 28, 2019, 10:21

marked the task **Add the visual editor in demo mode** as completed

[2020-03-10 05:16] treasuretron commented on #311
In GitLab by @treasuretron on Jan 28, 2019, 17:11

marked the task **Start a section on managing mediawiki in the admin guide in this gitlab wiki** as completed

[2020-03-10 05:17] treasuretron commented on #311
In GitLab by @treasuretron on Jan 28, 2019, 17:12

marked the task **Set up a parsoid server on a linode (use the most appropriate distro but enable automatic security updates and put passwords in lastpass)** as completed

[2020-03-10 05:17] treasuretron commented on #311
In GitLab by @treasuretron on Jan 28, 2019, 17:12

marked the task **Set up a parsoid server on a linode (use the most appropriate distro but enable automatic security updates and put passwords in lastpass)** as incomplete

[2020-03-10 05:17] treasuretron commented on #311
In GitLab by @richbodo on Feb 4, 2019, 17:31

closed

[2020-03-10 05:17] #311 closed

[2020-03-10 05:17] treasuretron opened #312 "Behat Rebuild"
In GitLab by @StephenCataldo on Jan 4, 2019, 14:23

Reorganize and rebuild the existing Behat testing; figure out what is ready to run.
Write a new set of tests around access issues.
Document, ready for developers to use.
Ideally integrate with automated qa process, tbd.

/estimate 2w

/spend 70h

(May be sub-tickets)

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 4, 2019, 14:24

changed the description

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 10, 2019, 02:47

mentioned in commit ba8db242c595828d92eaa24b78f6dd673ec7cb8a

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 10, 2019, 17:45

marked this issue as related to #309

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 10, 2019, 17:48

marked this issue as related to #310

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 10, 2019, 19:34

mentioned in merge request !254

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 11, 2019, 04:46

mentioned in commit 02e84cbb8cca1816cd11b4ea49cce35eeab90b3d

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Jan 11, 2019, 18:23

marked this issue as related to #311

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 1, 2019, 00:27

mentioned in commit 35c90e48ca187f9b5273b47fc1839ce4570d52eb

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 1, 2019, 14:06

mentioned in commit 9853b3620d3671aaa3b431f66c288ba539642367

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 1, 2019, 14:14

mentioned in commit 9db3d64e30c5b3bc064307862df79bb0c6eb1cbe

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 1, 2019, 19:14

mentioned in commit 5b83249c0c120aa8e7a9969f83c4d91bf3ab83c9

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 1, 2019, 19:23

mentioned in commit b1fbc512e71982385afc80641e263d704b86e3c8

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 4, 2019, 16:04

mentioned in commit 1a713c23143802d2ebc38c70137b6c291f5b183f

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 7, 2019, 16:56

mentioned in commit f4ed53903a7522d60ca0d4df9dbe1ab8db795b18

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 11, 2019, 15:08

mentioned in commit e709f6f7f108874a5a3c785444b4f91bc220db23

[2020-03-10 05:17] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 26, 2019, 18:13

mentioned in commit 2ffe24099273783e4507b33a5ec5ddf84be85af6

[2020-03-10 05:18] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 26, 2019, 18:47

changed the description

[2020-03-10 05:18] treasuretron commented on #312
In GitLab by @StephenCataldo on Feb 26, 2019, 18:49

changed the description

[2020-03-10 05:18] treasuretron commented on #312
In GitLab by @thomasmurphy on Feb 28, 2019, 21:50

mentioned in commit 983b533c7c2451a7281f9d55d44b3fa52094e6bb

[2020-03-10 05:18] treasuretron commented on #312
In GitLab by @thomasmurphy on Feb 28, 2019, 21:53

mentioned in merge request !274

[2020-03-10 05:18] treasuretron commented on #312
In GitLab by @thomasmurphy on Feb 28, 2019, 22:04

mentioned in commit c77d10980ba28a25ac770a7579e3009c50d9eb11

[2020-03-10 05:18] treasuretron opened #313 "Accessibility solution for profile fonts"
In GitLab by @richbodo on Jan 9, 2019, 18:35

We had a report from the ministry of awesome (mehedi@ministryofawesome.com):

`Also, checking the MoA profile at SpaceBase, I have found that it's hard to read the grey colour text. I was wondering if it is possible to make the text dark black colour on white background? I am talking about this: https://spacebase.co/org/ministry-awesome`

We should loo

[2020-03-10 05:18] treasuretron opened #314 "Report that valid new accounts are in blocked state"
In GitLab by @richbodo on Jan 9, 2019, 20:32

TEMP - getting back to this.

**Expected:**

**Observed:**

[2020-03-10 05:18] treasuretron commented on #314
In GitLab by @richbodo on Apr 25, 2019, 18:22

can't duplicate this.  closing for now.

[2020-03-10 05:18] treasuretron commented on #314
In GitLab by @richbodo on Apr 25, 2019, 18:22

closed

[2020-03-10 05:18] #314 closed

[2020-03-10 05:18] treasuretron opened #315 "Behat search at 6 scenarios (2 passed, 4 failed)"
In GitLab by @StephenCataldo on Jan 10, 2019, 17:41

Listed in wiki as working, restore.

(Working, other than not sure about #310 should be a pass or fail as it works now.)

[2020-03-10 05:18] treasuretron commented on #315
In GitLab by @StephenCataldo on Jan 10, 2019, 17:45

marked this issue as related to #306

[2020-03-10 05:18] treasuretron commented on #315
In GitLab by @thomasmurphy on Jan 21, 2019, 22:01

Hi @StephenCataldo could you be more specific about the search functionality you are testing for, please? We've changed some of that and will continue to in the following few weeks.

[2020-03-10 05:18] treasuretron commented on #315
In GitLab by @StephenCataldo on Jan 21, 2019, 22:19

Sounds good — most of it is already tweaked (on my testing branch) to match how the searches work now.

1) How do you document this, so the tests can match the code and the tests? If you're changing the searches I should stop working on tests, unless someone sends me the specs.

2) I'm noticing when I go to the homepage, and enter "Search," the

[2020-03-10 05:18] treasuretron commented on #315
In GitLab by @StephenCataldo on Jan 21, 2019, 22:20

changed the description

[2020-03-10 05:18] treasuretron opened #316 "Search page title missing [?]"
In GitLab by @StephenCataldo on Jan 10, 2019, 17:48

Given I am on "/"
    And I enter "Space" for "edit-keywords"
    When I press the "edit-submit-sitewide-search" button
Expected:    Then I should see "Search results for Space"
Observed: The search occurs, but no title.

@richbodo: Do we fix the missing title, or change the requirements in the behat test?

Related: "See all" is no longer on the

[2020-03-10 05:18] treasuretron commented on #316
In GitLab by @StephenCataldo on Jan 10, 2019, 17:48

marked this issue as related to #306

[2020-03-10 05:18] treasuretron commented on #316
In GitLab by @StephenCataldo on Jan 10, 2019, 17:54

changed the description

[2020-03-10 05:18] treasuretron commented on #316
In GitLab by @StephenCataldo on Jan 10, 2019, 18:01

changed the description

[2020-03-10 05:18] treasuretron commented on #316
In GitLab by @StephenCataldo on Jan 10, 2019, 19:02

https://spacebase.co/search/organizations?keywords=space
shows the title in a little box, odd format but not sure it's an error

https://spacebase.co/search?search_api_fulltext=space
does not show the title.

[2020-03-10 05:19] treasuretron commented on #316
In GitLab by @richbodo on Feb 27, 2019, 19:47

I think we can rewrite this test after the next prod push to match the functionality on dev.  We did just collapse and revamp search functions quite a bit so lets delay this one until that's done.

[2020-03-10 05:19] treasuretron opened #317 "Selenium: CHROMEDRIVER URLS is red when lando starts; unimportant warning"
In GitLab by @StephenCataldo on Jan 11, 2019, 18:23

This line comes up red when lando is started/restarted:
CHROMEDRIVER URLS  http://localhost:32790
It works despite this, and I[Stephen] didn't find a quick fix, so not investing time.

The problem is discussed here, and if we care enough to invest time, should start here:
https://github.com/lando/lando/issues/1263
and probably check or leave sug

[2020-03-10 05:19] treasuretron commented on #317
In GitLab by @StephenCataldo on Jan 11, 2019, 18:23

marked this issue as related to #306

[2020-03-10 05:19] treasuretron opened #318 "312 - Project Reporting Protoype"
In GitLab by @thomasmurphy on Jan 15, 2019, 21:16

Based on the discussions at the meeting on 16.1.19 we will create a prototype of the projects and reporting system for planning and refinement purposes.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Jan 15, 2019, 23:25

After some thinking, I have a plan.

Each projects could have two entity reference fields, each of which can reference multiple instances of two respective types of entities:
1) Project Aims (PAs - or metrics)
2) Project Updates (PUs - the blog updates)

The PU entities can create in context and reference Project Aim Update entities (PAUs) which h

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Jan 21, 2019, 22:02

@jayelless tell me what you think.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Jan 29, 2019, 22:36

Useful links

https://www.drupal.org/project/field_default_token/issues/2825753

https://www.drupal.org/project/inline_entity_form/issues/2889850

https://www.drupal.org/node/2134073

https://www.drupal.org/project/entityreference/issues/2902934

https://www.drupal.org/project/simple_modal_entity_form

https://www.drupal.org/sandbox/michaelpetri/2

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @richbodo on Jan 31, 2019, 16:47

I'll just drop a reminder on the MVP goals for Projects, and a description of how we will use this During the Space Challenge in a month or so:

This is the MVP spec that we thought would make it usable for the space challenge: https://gitlab.com/spacebase/spacebase/wikis/Design-Specs/Projects#mvp-summary

And our basic use case is:

* We set up the 2

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Jan 31, 2019, 23:04

@richbodo

In the project scope here
https://gitlab.com/spacebase/spacebase/wikis/Design-Specs/Projects#mvp-summary

It has a list of MVP features, but it also mentions later that projects should have all the features of organisations, which aren't listed in the MVP list, or elsewhere on the page, are they listed somewhere else?

Also, in the list

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @richbodo on Feb 4, 2019, 15:19

Hi Thomas,

Sorry for the confusion.  Up until our last conversation, I had assumed that we were going to re-use the investment we made in Organizations, and expand on that functionality for Projects.  Everything I have ever written on the topic assumes that.  You have probably noticed lots of things that say "these are the differences between projects

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Feb 4, 2019, 16:26

@richbodo thanks, I just thought we could do with that documented explicitly. Currently I'm researching the incompatibility between the groups base tables and the content tables in terms of views to see if there's a way around it. In short, there may be no benefit to reusing what has been done on the organizations because how you want to drive the

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @richbodo on Feb 4, 2019, 16:34

O.k. Thomas.  I'll still write a spec/presentation for projects that doesn't mention orgs for our meeting on friday.  Look forward to seeing what you find out.  Keeping the UX consistent across the site is a big deal, and given our situation, not being able to re-use any of the orgs work is a significant and unexpected turn.  Hoping for the best.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Feb 6, 2019, 21:08

@richbodo after some research I've found a way of relating the groups data in an efficient way, so panic over. I've now built a working prototype of the reporting system based on projects as groups, so that approach is fine :)

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 10, 2019, 23:26

As a first step to simplifying the custom module code and sorting out what can be re-used from the organization groups for projects, I have moved all hook_preprocess code and twig templates from custom modules to the spacebase theme.

Because we have control over the theme, there is no need to code hooks and templates in custom modules to over-ride t

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 11, 2019, 19:36

I recommend the that project group type is renamed from "project" to "project_group" to be consistent with the "organization_group" type and to emphasize that it is a group entity.  There is also a content type called "project" that can be deleted.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 11, 2019, 21:47

The group type "project" has been replaced with group type "project_group" and the unneeded content type deleted.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 12, 2019, 21:17

A number of changes have been made and pushed to Gitlab. These include new views, templates and custom code changes to process project groups and associated information.

The resources taxonomy terms now have a new field "associated_group_types" which is a set of check boxes for each term that specify which group types the resource can be associated

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 12, 2019, 21:19

mentioned in merge request !265

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @jayelless on Feb 13, 2019, 22:35

I have updated the project group functionality to match the display and behaviour specified in https://gitlab.com/spacebase/spacebase/wikis/Design-Specs/Projects#mvp-summary.

The dev branch has been merged to pick up the lastest changes to ensure that the merge PR#265 should complete without problems.

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Feb 17, 2019, 20:07

In regards to archiving groups, which is now out of MVP v1, this is the existing approach I think we should look at before approach this on our own
https://www.drupal.org/project/group/issues/2873212

[2020-03-10 05:19] treasuretron commented on #318
In GitLab by @thomasmurphy on Feb 20, 2019, 20:36

Just clarifying the workflow for adding project team members. If the user does't have a spacebase account they will need to be sent an invite to join spacebase (not just the project) and complete the basics of that before a user record exists which can be added to the project.

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Feb 20, 2019, 23:47

changed title from **Projects and Reporting Protoype** to **{+312 - +}Projects and Reporting Protoype**

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @richbodo on Feb 27, 2019, 19:56

@thomasmurphy Yes, you can only add site-members to project teams.

As a MVP for invites, we dropped a few links to an invite form throughout the site, in an attempt to give org owners a way to at least quickly send email to prospective members with instructions for joining the site and then their org.  The form allowed a comma delimited email list to

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @jayelless on Feb 27, 2019, 23:36

@thomasmurphy The views based private message inbox allows a user with administrator role to see all message threads (but not the messages within the threads).  This can probably be fixed with some tweaking of the view.

The alternative I had been thinking about is to prepare a patch to the private_message module that allows a different default displ

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @epaatdahlstrom  on Feb 28, 2019, 14:39

Hello everyone, its March 1 so in advance of our standup today this is just a reminder of what I hope I will be able to access to use under the projects feature (per the deliverables on this day) in prep for the Challenge Launch next Friday 8 March.

- Access to create a Challenge Project in Production at earliest convenience
- Add resources un

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @jayelless on Mar 3, 2019, 16:50

mentioned in merge request !277

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

mentioned in commit 37ab30e5671a7643e0539488150623003bf50021

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

closed via merge request !277

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 11, 2019, 18:31

@richbodo James and I think it's best to reopen this ticket for the next phase of reports prototyping in order to keep using a 312 related branch name, so as to keep the repo simpler / more continuative.

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 11, 2019, 18:31

reopened

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @jayelless on Mar 24, 2019, 22:13

Hi Thomas.  The commit you need to access to get the original view from config is " 5d39dceba9abb11451aa367c57f3f21cbc05fd21".

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 27, 2019, 19:01

Based on the prioritisation done on 15.3.19 this issue is now 16/20 and not happening within this contract.

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @thomasmurphy on Mar 28, 2019, 17:25

changed title from **312 - Project{-s and-} Reporting Protoype** to **312 - Project Reporting Protoype**

[2020-03-10 05:20] treasuretron commented on #318
In GitLab by @richbodo on Mar 28, 2019, 17:34

Got it.  This is about the reporting section of the website where we make a summary and show some aggregate info.  We'll do that in another contract or something.  Projects still have reports.

[2020-03-10 05:20] treasuretron opened #319 "313 - Display Suite instability"
In GitLab by @thomasmurphy on Jan 28, 2019, 17:25

This bug is affecting #312 and #301 and would prevent future layout changes if these branches were merged. This is very unusual instability for display suite and may be a result of how customised the site is. Symptoms so far

1. Download database and codebase from dev
2. boot up locally and attempt to change the layout of a content type - OK
3. In

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 28, 2019, 17:26

changed title from **Display Suite instability** to **{+313 - +}Display Suite instability**

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 28, 2019, 17:37

Second attempt

1. Reset to origin
2. reimported clean/old database dump
3. ran update.php
4. display suite is already dead

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 28, 2019, 17:50

1. Reset to origin
2. reimported clean/old database dump
3. display suite is alive
4. run update.php (1 update - node module cache clear)
5. display suite is dead

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 28, 2019, 19:01

upgrading to display suite from 3.1 to 3.2 solved this issue, although there is no related bug in the DS issue queue related to that release. It may have just cleared a module caching as part of the upgrade.

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 28, 2019, 19:14

This is now stable on #301 and #312 but remember to run lando composer install, update.php and lando drush entity-updates on download a copy of the dev database.

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 29, 2019, 00:07

closed

[2020-03-10 05:20] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 29, 2019, 00:07

changed the description

[2020-03-10 05:21] treasuretron commented on #319
In GitLab by @thomasmurphy on Jan 31, 2019, 17:22

hfixed here https://www.drupal.org/project/ds/issues/3028237

[2020-03-10 05:21] #319 closed

[2020-03-10 05:21] treasuretron opened #320 "Spacebase.co cert expired"
In GitLab by @richbodo on Jan 31, 2019, 18:44

At https://spacebase.co:

spacebase.co uses an invalid security certificate. The certificate expired on January 31, 2019, 6:50:42 AM GMT-8. The current time is January 31, 2019, 3:43 PM.

[2020-03-10 05:21] treasuretron commented on #320
In GitLab by @richbodo on Jan 31, 2019, 20:01

fixed with a `platform redeploy`

documented on the siteops page

[2020-03-10 05:21] treasuretron commented on #320
In GitLab by @richbodo on Jan 31, 2019, 20:01

closed

[2020-03-10 05:21] #320 closed

[2020-03-10 05:21] treasuretron opened #321 "315 Remove physical address for new user signup"
In GitLab by @richbodo on Jan 31, 2019, 18:55

When signing up as a new site member of spacebase.co, we should not ask for a physical address.

Right now it is required on signup.

A users street address is private information that we never want to store.

Related issue: At some point in the future, we would like users to be able to enter their city/state/country in their profile, but not their st

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 3, 2019, 20:20

changed title from **Remove physical address for new site-member signup** to **{+315 +}Remove physical address for new site-member signup**

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 3, 2019, 20:20

changed title from **315 Remove physical address for new {-site-memb-}er signup** to **315 Remove physical address for new {+us+}er signup**

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 3, 2019, 20:47

I've had a look and we can fix this with just config. I'll include the change in the next branch to be merged to avoid branch bloat.[field.field.user.user.field_home_location_user.yml](/uploads/272fdcffb6dfc287906b84b5625b40d8/field.field.user.user.field_home_location_user.yml)

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 3, 2019, 20:49

mentioned in commit a7ca60453e3208326bb9ee91121233c8489464fc

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 7, 2019, 00:43

mentioned in merge request !260

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 7, 2019, 01:11

closed via merge request !260

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 7, 2019, 01:11

mentioned in commit c9638fa13f794187ff03e42910d3672379b9af14

[2020-03-10 05:21] treasuretron commented on #321
In GitLab by @thomasmurphy on Feb 12, 2019, 22:33

mentioned in merge request !266

[2020-03-10 05:21] #321 closed

[2020-03-10 05:21] treasuretron opened #322 "Create a project for mediawiki in gitlab, check in all relevant config files in a single folder called /config."
In GitLab by @treasuretron on Feb 4, 2019, 16:06

as spec'd in email

[2020-03-10 05:21] treasuretron commented on #322
In GitLab by @richbodo on Feb 4, 2019, 17:32

closed

[2020-03-10 05:21] #322 closed

[2020-03-10 05:21] treasuretron opened #323 "create a mediawiki admin guide for Em, Eric, and I, so that they can remove spam and manage user accounts."
In GitLab by @treasuretron on Feb 4, 2019, 16:07

as spec'd in email, within project spec'd in previous issue

"create a mediawiki admin guide for Em, Eric, and I, so that they can remove spam and manage user accounts."

[2020-03-10 05:21] treasuretron commented on #323
In GitLab by @treasuretron on Feb 4, 2019, 16:34

assigned to @richbodo and unassigned @treasuretron

[2020-03-10 05:22] treasuretron commented on #323
In GitLab by @treasuretron on Feb 4, 2019, 16:34

assigned to @treasuretron and unassigned @richbodo

[2020-03-10 05:22] treasuretron commented on #323
In GitLab by @richbodo on Feb 4, 2019, 17:32

closed

[2020-03-10 05:22] #323 closed

[2020-03-10 05:22] treasuretron opened #324 "Port over the page of mediawiki notes that we made into the spacebase_mediawiki project as the SiteOps page."
In GitLab by @treasuretron on Feb 4, 2019, 16:07

as spec'd in email

[2020-03-10 05:22] treasuretron commented on #324
In GitLab by @richbodo on Feb 21, 2019, 15:55

closed

[2020-03-10 05:22] #324 closed

[2020-03-10 05:22] treasuretron opened #325 "Get email working on wiki.spacebase.co"
In GitLab by @treasuretron on Feb 4, 2019, 16:08

as spec'd in email, Rich says " ( I can probably take this one since you are going to be busy with those others)."

[2020-03-10 05:22] treasuretron commented on #325
In GitLab by @treasuretron on Feb 4, 2019, 16:34

assigned to @treasuretron and unassigned @richbodo

[2020-03-10 05:22] treasuretron commented on #325
In GitLab by @treasuretron on Feb 4, 2019, 16:34

assigned to @richbodo and unassigned @treasuretron

[2020-03-10 05:22] treasuretron commented on #325
In GitLab by @richbodo on Feb 21, 2019, 15:55

closed

[2020-03-10 05:22] #325 closed

[2020-03-10 05:22] treasuretron opened #326 "320 - Core security update 8.6.10"
In GitLab by @thomasmurphy on Feb 20, 2019, 17:12

Apply https://www.drupal.org/sa-core-2019-003

[2020-03-10 05:22] treasuretron commented on #326
In GitLab by @thomasmurphy on Feb 20, 2019, 17:12

changed title from **Core security update 8.6.10** to **{+320 - +}Core security update 8.6.10**

[2020-03-10 05:22] treasuretron commented on #326
In GitLab by @thomasmurphy on Feb 20, 2019, 18:19

mentioned in merge request !267

[2020-03-10 05:22] treasuretron commented on #326
In GitLab by @thomasmurphy on Feb 20, 2019, 19:08

closed via merge request !267

[2020-03-10 05:22] treasuretron commented on #326
In GitLab by @thomasmurphy on Feb 20, 2019, 19:08

mentioned in commit e870e78cc29ba82e6188ec9fe2ca7bb75f714470

[2020-03-10 05:22] #326 closed

[2020-03-10 05:22] treasuretron opened #327 "321 Group per-node permissions system"
In GitLab by @thomasmurphy on Feb 20, 2019, 21:28

Establish the approach and estimate the hours for having per-node view-by-members permissions for project content.

[2020-03-10 05:22] treasuretron commented on #327
In GitLab by @thomasmurphy on Feb 20, 2019, 21:30

changed title from **Scope Group per-node permissions system** to **{+321 +}Scope Group per-node permissions system**

[2020-03-10 05:22] treasuretron commented on #327
In GitLab by @thomasmurphy on Feb 20, 2019, 21:30

changed the description

[2020-03-10 05:22] treasuretron commented on #327
In GitLab by @jayelless on Feb 21, 2019, 22:57

I spent some considerable time thinking about this, and investigating how it might be implemented.  I eventually came to the conclusion that this was not the correct approach, as the maintainer of the group module is very much against anything that alters the standard permission settings specified by the group UI.

I then considered alternatives, and

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Feb 21, 2019, 22:58

mentioned in merge request !271

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Feb 21, 2019, 23:23

Feature branch: https://pr-271-kpdpztq-ensz4qdpjmziw.us.platform.sh

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Feb 25, 2019, 21:04

Release notes.

When this release is merged into dev or master, then there is a need to add the following two taxonomy terms into the new vocabulary "Permissions tags":
* Public "This term will allow a tagged node to be viewed by all users."
* Private "This term will restrict access to nodes to only members of the group."

Once these have been set up

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Feb 25, 2019, 21:52

I have enhanced the update function to check whether the required "Public" term exists before running, so it should not be necessary to set the module schema level back to 8024 using steps 1 to 4 above.  Just try running the update by visiting update.php and confirm that spacebase_core update 8025 is still pending.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 12, 2019, 22:23

@jayelless Rich and I tested this here
https://pr-271-kpdpztq-ensz4qdpjmziw.us.platform.sh/node/151

The content was marked as private but was visible to a test user that wasn't a group member.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 12, 2019, 22:29

After an editor creates a discussion thread and sets it to private, other users can comment and afterwards the original poster can set the thread as public again, defeating the privacy setting.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Mar 13, 2019, 17:01

Hi Thomas.  A quick check showed that the user permission settings for groups and globally are different in the PR-271 environment from what I expected, as the behaviour described above was not what I had observed when testing in my local development environment.  I will compare the two envornments, and update the PR-271 config appropriately. When th

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 14, 2019, 14:53

I"m late looking at this thread and just wanted to know if I understood the feature correctly.  In our discussions in Welly, the intention for the members of the project is to be able to post privately to all members of the group - and not just the owner or admin.  This is important as members will definitely need to start their own private thr

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 14, 2019, 17:25

changed title from **321 {-Scope -}Group per-node permissions system** to **321 Group per-node permissions system**

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Mar 14, 2019, 17:39

To summarize the discussion this morning:

1. All discussion threads created in project groups will default to "private" which means that only verified team members will be able to view the discussion.
2. Users with a "group admin" role (eg the project "owner") will be able to specify that a discussion thread is to be "public" at the time it is creat

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 14, 2019, 18:02

Looks good.

Just one more question on the public thread.  Will project members be able to comment on the public threads initiated by the admin, or not?  I am asking because will they be able to distinguish what is a public or private post from admin?   If they are able to comment, they should not make a mistake of commenting that is just for m

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Mar 14, 2019, 18:56

I expect that any accepted member should be able to comment on a public discussion topic as well as the private ones.  We can look to use themeing to provide a visual indication in the form containing the comment text field, that this is a public discussion.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 14, 2019, 18:59

Great, thanks!

![image623001](/uploads/bc8cf10a9d0c148e9d41301a81aea2b3/image623001.jpg)

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Mar 14, 2019, 18:59

All recent discussion on this issue has been looking at project discussion topics, but there is also a requirement for some "resources" to be able to be restricted so they are seen only by project team members.

Is there a similar requirement that a "private" resource should never become "public" and vice-versa?  I note that only project admins (and

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 14, 2019, 20:03

Thanks James.  Yes, good point.   Admins will be the only people who can create resources and they should be able to toggle from private to public.  And yes, anything private should never become public.

-Emeline

![image623001](/uploads/db2f585fd3e66cbf9b62cf4abaafade0/image623001.jpg)

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @jayelless on Mar 21, 2019, 17:46

Investigation has suggested that the best way to implement a reliable and flexible solution is to integrate the permissions_by_term module to work with group roles as well as global roles.  This is being done in the drupal.org issue https://www.drupal.org/project/permissions_by_term/issues/3041315

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 24, 2019, 20:39

Deferred to after aerospace challenge launch at sprint meeting on 22/3/19. Group content will default to public instead.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 24, 2019, 23:02

Hi Thomas, can you reconfirm what is being deferred and what is "after challenge launch"?   Just to be clear with terms  Challenge Launch was 8 March.  Actual Incubator launch is 1 May.  We have set deadlines in April so as to give a buffer for delays and problems. I am still working under the assumption that all the features critical to the Ch

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 25, 2019, 00:55

Hi, we have a bunch of issues lined up in this ticket #339 for a 1/4/19 launch, so I was just noting that this issue isn't included in this release any more.

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 26, 2019, 21:39

mentioned in merge request !283

[2020-03-10 05:23] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 27, 2019, 19:10

We estimate around 20 hours for this when it gets prioritised. However it currently doesn't have a priority as per the list made on 15/3/19 by email, so there is no action occurring on this task currently.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 27, 2019, 21:44

Just agreeing that it should be prioritized for the Challenge.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 27, 2019, 21:57

@epaatdahlstrom  we received an email from @richbodo on 22/3/19 based on a discussion between you both on slack

"From Em, regarding private resources and discussions:

* Keep what we are sharing now visible to the public.
* Implement private discussions and resources when we have the ability to support both public and private resources."

That is

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Mar 28, 2019, 04:18

Yes, just confirming that when I mean Challenge - it is for the actual external deadline of May 1, not the internal deadline of 1 April.  Thx.

![image623001](/uploads/4e557b63fbb918e385e8bd922a77fce0/image623001.jpg)

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Mar 28, 2019, 17:20

So this now has a priority of 1.5 / 20 in the main SpaceBase prioritisation list, so adding high back on. (as per sprint meeting on 29/3/19)

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 11, 2019, 08:29

mentioned in merge request !289

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 11, 2019, 08:57

A patch to the permissions_by_term module has been prepared that integrates group roles with the module to provide the functionality that is required for spacebase.

This is now in the feature branch ready for testing, and eventual merging.

Currently there are two manual edits required to make this work.
1. The taxonomy vocab "permissions tags" need

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 12, 2019, 02:05

The updates necessary to prevent a private topic or resource from being changed to public (or vice-versa) except by global administrators and editors has been generated and pushed to the feature branch.

The permissions set on the two terms are:
1. Public: global roles of anonymous and authenticated.
2. Private: project roles of verified, admin, outs

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Apr 18, 2019, 02:10

@jayelless I just tested this at
https://pr-289-3mr3pha-ensz4qdpjmziw.us.platform.sh/node/226
With a test authenticated user. For the private thread I didn't have access when I wasn't a group member. I then applied for and was approved group membership by my admin account, cleared all caches and rebuilt the permissions but still get a 403 when att

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Apr 20, 2019, 22:42

Hi, I tested this by creating a post while logged in.  It looks like the "private" indicator shows up on the actual post but on the list, it does not for my post (the other posts do have it...)  Just wanted to flag the inconsistent list.

![Screen_Shot_2019-04-21_at_2.40.11_PM](/uploads/31ff53059df24e2d0761889db68cfa57/Screen_Shot_2019-04-21_at

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on Apr 20, 2019, 22:47

For the Resources section,  if I click on the "edit" icon while logged in, it opens up to the resource edit page and I can edit.   However, if I click on the actual post link (in this case "test3"), it gives me this error.![Screen_Shot_2019-04-21_at_2.44.58_PM](/uploads/bb528cc95e2e651690aaac214730f295/Screen_Shot_2019-04-21_at_2.44.58_PM.png)

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 23, 2019, 00:24

The issue reported by Tom above is caused by the fact that the test user is not being granted the role of "verified member" at the time their membership application is approved.  This means that they do not get access to private group content.  I will investigate and fix this problem.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 23, 2019, 00:27

This issue of the status of messages being marked as public or private is that on the full message, the status value is displayed, but it is not shown on the lists.  The indication referred to by Emeline above is because the status has been manually appended to the title to allow for easy testing.

If the status needs to be shown in the list, then it

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Apr 23, 2019, 00:31

Hi James, for simplicity let's just display the taxonomy term at the top of the content.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 23, 2019, 00:35

The issue reported above by Emeline regarding the "test3" link in the resources section was because the link entered into the resource entity form was rubbish and so could not be reached (it just happened to be a link that looked like group content).  I have edited the liunk so that it now goes back to the project home page, and it works as expected.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @jayelless on Apr 23, 2019, 18:46

I have pushed a fix to the issue reported by Tom above.  This appears to resolve the problem, so the feature branch should be ready to merge to dev.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Apr 23, 2019, 19:51

closed via merge request !289

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Apr 23, 2019, 19:51

mentioned in commit a31ec56a41c23e0083630e3ca18b513413a4ddd7

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on Apr 29, 2019, 01:36

mentioned in merge request !291

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on May 2, 2019, 21:39

@epaatdahlstrom  I see now why you wanted resources to be labelled a private or not in the listing - because they are external resources, there is no full view of the node to display the permission tag on, once they click on the listing it takes you to the external URL.

This listing is made by the same view which is listing external resources for

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on May 2, 2019, 22:05

Thanks Thomas.

![nz-aerospace-challenge](/uploads/28cfd2b872ac059a25dcc9f60ca3eba2/nz-aerospace-challenge.jpg)

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on May 2, 2019, 22:41

I have tweaked the organization_resources view on live, and committed this view change to the direct messaging branch (280) so it ends up merging into master soon. The Public/Private status displays in Parenthesis after the title.

[2020-03-10 05:24] treasuretron commented on #327
In GitLab by @thomasmurphy on May 2, 2019, 22:46

I've done a similar fix for discussion forum listing eg
https://spacebase.co/group/267/forum
This is the kind of layout I can without a detailed front end fix, but it's no too bad.

[2020-03-10 05:25] treasuretron commented on #327
In GitLab by @epaatdahlstrom  on May 2, 2019, 22:52

Nice!  Yes, certainly works.

![nz-aerospace-challenge](/uploads/0575073e26c181c61c3c96ee4d0c6e29/nz-aerospace-challenge.jpg)

[2020-03-10 05:25] #327 closed

[2020-03-10 05:25] treasuretron opened #328 "322 - Give users the ability to create organizations again"
In GitLab by @richbodo on Feb 21, 2019, 13:24

We need to signal to any site visitor that site-members can create organizations.

Our model for this in the past was to simply add a link at the bottom of the page whenever a site visitor is either:

* Searching for orgs.
* Browsing orgs.

The link text was: "Don't see the organization you are looking for?  You can Create it!"

The reason we put that

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @richbodo on Mar 5, 2019, 17:46

changed the description

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Mar 7, 2019, 16:27

We're not planning on working on this this sprint so bumping down to normal priority.

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @richbodo on Mar 15, 2019, 06:52

changed the description

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @richbodo on Mar 15, 2019, 07:01

changed title from **{-Don't see the Organization you are looking for?  Create it!-}** to **{+Give users the ability to create organizations again+}**

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @richbodo on Mar 15, 2019, 07:01

changed the description

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 9, 2019, 22:14

changed title from **Give users the ability to create organizations again** to **{+322 - +}Give users the ability to create organizations again**

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 9, 2019, 22:48

Got this error on creating a branch from dev

Related to the just merged in leaflet work. Stopping and restarting Lando made it go away, perhaps an OPcache issue within lando?

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 9, 2019, 23:24

The way the org menu link points to the search page with a complex search string which can't be used to filter block display means that a regular block linking to the create org page isn't going to be easy to make. Also, the theme is pretty unstable so making a new block breaks the layout in several cases. I'm going to go down the view no results b

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 10, 2019, 00:33

mentioned in merge request !288

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 23, 2019, 20:55

closed via merge request !288

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 23, 2019, 20:55

mentioned in commit 9f063c6ff662f28d906747eebda5e5a2f146f591

[2020-03-10 05:25] treasuretron commented on #328
In GitLab by @thomasmurphy on Apr 29, 2019, 01:36

mentioned in merge request !291

[2020-03-10 05:25] #328 closed

[2020-03-10 05:25] treasuretron opened #329 "323 - Simplify Menu"
In GitLab by @thomasmurphy on Feb 25, 2019, 17:09

We will propose a simpler menu layout in a new branch, which still preserve the CMS functionality of the site.

[2020-03-10 05:25] treasuretron commented on #329
In GitLab by @thomasmurphy on Feb 25, 2019, 17:13

changed title from **Simplify Menu** to **{+323 - +}Simplify Menu**

[2020-03-10 05:25] treasuretron commented on #329
In GitLab by @thomasmurphy on Feb 27, 2019, 23:38

mentioned in merge request !273

[2020-03-10 05:25] treasuretron commented on #329
In GitLab by @thomasmurphy on Feb 27, 2019, 23:52

example of unified menu
https://pr-273-7tdcowy-ensz4qdpjmziw.us.platform.sh/

still needs a little front end work

[2020-03-10 05:25] treasuretron commented on #329
In GitLab by @thomasmurphy on Mar 20, 2019, 22:07

closed via merge request !273

[2020-03-10 05:26] treasuretron commented on #329
In GitLab by @thomasmurphy on Mar 20, 2019, 22:07

mentioned in commit ec09ef8855dc928813974a4d0336b753c07bcd82

[2020-03-10 05:26] #329 closed

[2020-03-10 05:26] treasuretron opened #330 "324 - Assess site performance bottlenecks"
In GitLab by @thomasmurphy on Feb 25, 2019, 22:11

* Look at the font modules to see if they are slowing us down.
* Analyse PHP processes to document high resource consumers, eg errors, uncached views etc
* Assess caching of front page map views. They are currently set to tags based caching, but we don't know what this is in practice and if it helps much.
* Work out a way of having different confi

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @thomasmurphy on Feb 25, 2019, 22:11

changed title from **Assess site performance bottlenecks** to **{+324 - +}Assess site performance bottlenecks**

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @thomasmurphy on Feb 25, 2019, 22:11

assigned to @jayelless

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @jayelless on Feb 27, 2019, 18:15

Views caching is set to tag based, which means that if any of the details of a tagged entity changes, then the cache should be invalidated.  The contexts and tags specified for the front page map are (from the detail in the file views.view.organizations_nz_overview_map.yml):
[code]

This indicates that the view cache depends (among other things) on t

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @richbodo on Mar 15, 2019, 06:23

changed the description

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @thomasmurphy on Apr 10, 2019, 01:18

All caching has been turned off on dev, so I've re-enabled it on the 322 branch which I'm about to merge. Overall we need to make sure caching is emabled and that config exported to system.performance.yml before a branch is ready to commit.

Also looking at chrome inspector, toobar.svg has a massive network loading lag, we should have a look at th

[2020-03-10 05:26] treasuretron commented on #330
In GitLab by @thomasmurphy on Apr 10, 2019, 01:31

I think we should default to time based caching for most views unless there is a specific reason not to.

[2020-03-10 05:26] treasuretron opened #331 "Update contrib module leaflet latest version"
In GitLab by @jayelless on Feb 27, 2019, 21:07

It appears that commit 923719a "update for Rich to do work" on 22nd Feb updated the leaflet module from 8.x-1.0-beta15 to 8.x-1.3 (along with numerous other module updates).  There appear to have been significant changes between 8.x-1.2 and 8.x-1.3 to leaflet, with advise posted on the module page that settings will be lost and need to be re-applied.

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Feb 27, 2019, 22:45

I have updated the composer files to recognise the update to leaflet 8.x-1.3 and rebuild the map views display to use the updated version.

I have created a merge request, so this update should be merged into dev asap.

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Feb 27, 2019, 22:46

mentioned in merge request !272

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @thomasmurphy on Feb 27, 2019, 23:14

mentioned in merge request !254

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Feb 28, 2019, 01:02

Release notes.

If merging this branch into an existing feature branch, the following step apply:
1. Uninstall leaflet_views and leaflet_markercluster
2. Uninstall leaflet.
3. clear the caches.
4. Perform the merge.
5. Import config (will re-install the above three modules and recreate the map view with correct settings).

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Mar 3, 2019, 17:01

Because a full revert of the commit "2ffe240: Refs #306 Fix composer.json error, rebuild composer.lock, and merge to dev" was performed (refer commit c77d109: Revert "Refs #306 Fix composer.json error, rebuild composer.lock, and merge to dev"), this issue is no longer relevant.

Changing this issue to one to update leaflet.

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Mar 3, 2019, 17:02

changed title from **{-Check and reconfigure the leaflet settings-}** to **{+Update contrib module leaflet latest version+}**

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Mar 22, 2019, 19:58

The branch 325-leaflet is now ready yo merge into dev.  The leaflet version has been updated to 8.x-1.4

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Apr 8, 2019, 20:19

Have created a new branch 325-leaflet-v2 from latest dev to resolve the problems with merging.

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @jayelless on Apr 8, 2019, 20:20

mentioned in merge request !287

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @thomasmurphy on Apr 9, 2019, 21:30

closed via merge request !287

[2020-03-10 05:26] treasuretron commented on #331
In GitLab by @thomasmurphy on Apr 9, 2019, 21:30

mentioned in commit 6dc6ba058e7668173b1bbb7fdc4965724238297d

[2020-03-10 05:27] #331 closed

[2020-03-10 05:27] treasuretron opened #332 "326 - Rollback composer.lock from merge 254"
In GitLab by @thomasmurphy on Feb 28, 2019, 20:44

It looks like we need composer.lock from e870e78cc29ba82e6188ec9fe2ca7bb75f714470

From the git log:

commit 2ffe24099273783e4507b33a5ec5ddf84be85af6
Merge: e870e78 923719a
Author: Stephen Cataldo <stephencataldo@gmail.com>
Date:   Tue Feb 26 14:59:10 2019 -0800

    Refs #306 Fix composer.json error, rebuild composer.lock, and merge to dev

commi

[2020-03-10 05:27] treasuretron commented on #332
In GitLab by @thomasmurphy on Feb 28, 2019, 20:44

changed title from **Rollback composer.lock from merge 254** to **{+326 - +}Rollback composer.lock from merge 254**

[2020-03-10 05:27] treasuretron commented on #332
In GitLab by @thomasmurphy on Feb 28, 2019, 20:50

@StephenCataldo from 2ffe24099273783e4507b33a5ec5ddf84be85af6 you mention `Refs #306 Fix composer.json error` but #306 doesn't contain any description of the errors or the fix, could you fill us in? Thanks!

[2020-03-10 05:27] treasuretron commented on #332
In GitLab by @thomasmurphy on Feb 28, 2019, 21:30

@jayelless diff on composer.json is

 "behat/mink-goutte-driver": "~1.2",
         "jcalderonzumba/gastonjs": "~1.0.2",
         "jcalderonzumba/mink-phantomjs-driver": "~0.3.1",
-        "mikey179/vfsStream": "~1.2",
+        "mikey179/vfsstream": "~1.2",
         "phpunit/phpunit": "~4.8",
         "symfony/css-selector": "~2.8",
         "overt

[2020-03-10 05:27] treasuretron commented on #332
In GitLab by @jayelless on Mar 3, 2019, 16:58

Because a full revert of the commit "2ffe240: Refs #306 Fix composer.json error, rebuild composer.lock, and merge to dev" was performed (refer commit c77d109: Revert "Refs #306 Fix composer.json error, rebuild composer.lock, and merge to dev"), this issue is no longer relevant.

Closing.

[2020-03-10 05:27] treasuretron commented on #332
In GitLab by @jayelless on Mar 3, 2019, 16:58

closed

[2020-03-10 05:27] #332 closed

[2020-03-10 05:27] treasuretron opened #333 "Projects Page - Success Metrics display"
In GitLab by @epaatdahlstrom  on Mar 2, 2019, 14:36

When displaying multiple success metrics, needs a carriage return before the title of the next metrics.  See image.![Screen_Shot_2019-03-03_at_8.33.23_AM](/uploads/73a7aab474e944591d3367e82714461a/Screen_Shot_2019-03-03_at_8.33.23_AM.png)

[2020-03-10 05:27] treasuretron commented on #333
In GitLab by @jayelless on Mar 3, 2019, 16:24

This requires the custom CSS for projects to set the margin of the H4 heading to "1.0em 0 0.5em"; to generate appropriate spacing above and below the heading text.

[2020-03-10 05:27] treasuretron commented on #333
In GitLab by @jayelless on Mar 3, 2019, 16:49

mentioned in commit 70a1e838f70906be980b2b282308d5eb09082768

[2020-03-10 05:27] treasuretron commented on #333
In GitLab by @jayelless on Mar 3, 2019, 16:52

Fix committed to feature branch 312-projects-fixes, which is now trhe subject of merge request PR-277 WIP: Resolve "312 - Projects and Reporting Protoype"

[2020-03-10 05:27] treasuretron commented on #333
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

closed via merge request !277

[2020-03-10 05:27] treasuretron commented on #333
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

mentioned in commit 37ab30e5671a7643e0539488150623003bf50021

[2020-03-10 05:27] #333 closed

[2020-03-10 05:27] treasuretron opened #334 "Project Page - Description text cuts off"
In GitLab by @epaatdahlstrom  on Mar 2, 2019, 14:40

Not displaying all the text.  Not sure if there is a text cut off.  See image![Screen_Shot_2019-03-03_at_8.39.06_AM](/uploads/143c69d2904d55875e31d9ed087e909c/Screen_Shot_2019-03-03_at_8.39.06_AM.png)

[2020-03-10 05:27] treasuretron commented on #334
In GitLab by @jayelless on Mar 3, 2019, 16:21

The problem is that the description field is set to use a "smart trimmed" display.  This will cut the text at about 600 characters.  I have updated the production site to use a default field display, which will show all the text in the field.

This change needs to be made in an appropriate feature branch and merged into master.

[2020-03-10 05:27] treasuretron commented on #334
In GitLab by @epaatdahlstrom  on Mar 3, 2019, 16:22

Ok. thanks.

[2020-03-10 05:27] treasuretron commented on #334
In GitLab by @jayelless on Mar 3, 2019, 16:49

mentioned in commit 9c03221cb98381e810ad80da2321217a89776e78

[2020-03-10 05:27] treasuretron commented on #334
In GitLab by @jayelless on Mar 3, 2019, 16:53

Fix committed to feature branch 312-projects-fixes, which is now trhe subject of merge request PR-277 WIP: Resolve "312 - Projects and Reporting Protoype"

[2020-03-10 05:27] treasuretron commented on #334
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

closed via commit 9c03221cb98381e810ad80da2321217a89776e78

[2020-03-10 05:28] treasuretron commented on #334
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

mentioned in commit 37ab30e5671a7643e0539488150623003bf50021

[2020-03-10 05:28] treasuretron commented on #334
In GitLab by @thomasmurphy on Mar 6, 2019, 17:53

closed via merge request !277

[2020-03-10 05:28] #334 closed

[2020-03-10 05:28] treasuretron opened #335 "Access to add Resource in Project"
In GitLab by @epaatdahlstrom  on Mar 4, 2019, 18:33

Eric and I are both trying to add Resource to the CHalenge Project.  If we click on the Add Resource, it says we do not have access.
![Screen_Shot_2019-03-05_at_12.30.54_PM](/uploads/3af53d587fa04271a7d6f3d595734fc5/Screen_Shot_2019-03-05_at_12.30.54_PM.png)

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 4, 2019, 18:33

changed due date to March 05, 2019

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @jayelless on Mar 4, 2019, 19:14

Hi Emeline.

The problem was with permissions for resource content types.  I have updated the permsissions for the editor role on the production site, and will update the configuration in the codebase so this change to master does not get lost.

It should now work for you.

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 4, 2019, 19:23

Awesome!  Thanks!

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 00:50

Hi James,  Somehow I still have not gotten adding resources to work.   It is still saying not authorized when clicking on Add resources button.
It would be great if we can add resources soon.  Thanks!

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 14:48

Also noting that even the SpaceBase admin can't seem to add resources![Screen_Shot_2019-03-06_at_8.48.26_AM](/uploads/a252437cc152f9884bc6cf6be4f45493/Screen_Shot_2019-03-06_at_8.48.26_AM.png)

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @jayelless on Mar 5, 2019, 15:14

Hi Emeline.
There was a further issue, in that the defined external resources (in taxonomy Resources) should have been updated to specify whether they could be associated with Organoizations and/or Projects.  This should have been done at the time the update was released into production, but it was omitted.  I have now fixed this so it should work for

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 15:28

Thanks James.  I need to get to better wifi in an hour to test and will let you know.  Currently have no broadband since we moved Saturday. :(

Best,
Emeline

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 15:28

Thanks James.  I need to get to better wifi in an hour to test and will let you know.  Currently have no broadband since we moved Saturday. :(

Best,
Emeline

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 16:24

Unfortunately, it is still going to the same not authorized to access error.   The difference is I can see the sub categories now but if I click to add, it still goes to the same error (for both user "emeline" and the Space Admin).   Also,  in the description for each sub category - it always has the phrase "nothing here yet" after the descripti

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @richbodo on Mar 5, 2019, 17:44

This would be a good behat test.

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 5, 2019, 21:47

I also tried to create a resource from the back end  under add content.  It gets me all the way to the form where I fill it in but when I click on "Publish", this is the error I get.

![Screen_Shot_2019-03-06_at_3.15.15_PM](/uploads/be1b4471226a646a00e68ec283025249/Screen_Shot_2019-03-06_at_3.15.15_PM.png)

Just noting that we have one day left

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @jayelless on Mar 5, 2019, 21:55

Hi Emeline.  Adding resources works fine in my development environment, but not in the dev or live environments.  I have been trying to find out what is causing the difference.  I will endeavour to get it fixed today/tonight for you. Regards, James

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @jayelless on Mar 5, 2019, 22:57

Hi Emeline.  I believe that I have fixed the problem now.  There was a missing plugin which allowed resource type content entities to be added to a project group.  I have re-installed the plugin in both the live and dev environments, and added it to the 312-fixes branch so it will not get lost again.  Cheers, James

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 00:20

Thanks James, i will try again a little later when wifi bandwidth here allows and let you know.

Emeline

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 03:22

John I managed to get all the links in now, however we have another big problem - the resources are not visible to non members.  Is this an easy fix?  Discussion is public and I can see it as an external viewer but resources are not.  I will create a new issue.

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 04:40

Closing the issue!  Thank you James for working this out today!

[2020-03-10 05:28] treasuretron commented on #335
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 04:40

closed

[2020-03-10 05:29] #335 closed

[2020-03-10 05:29] treasuretron opened #336 "Resources Can Not be Seen by Public (Non Members)"
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 03:31

We managed to add all the Resources link to the Challenge Project today however I just found out that non-members can't see them.  While Discussions are public, the Resources can't be seen.  Can we fix this ASAP?  Noting that only incubator teams will be members in May so the public can't join to see the resources the way it is set up right now.

[2020-03-10 05:29] treasuretron commented on #336
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 03:31

changed due date to March 07, 2019

[2020-03-10 05:29] treasuretron commented on #336
In GitLab by @jayelless on Mar 6, 2019, 04:29

I have updated the permissions that are associated with the plugin which was re-installed earlier this evening to allow all users (anonymous and authenticated) to view the external resources associated with a project.

The change has been made on the live and dev environments, and the config updated in code (branch "312-projects-fixes", so it will not

[2020-03-10 05:29] treasuretron commented on #336
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 04:40

Yay!!!!  We are now all set for deliverable for the Challenge!  Thank you James for all your work today!!!

[2020-03-10 05:29] treasuretron commented on #336
In GitLab by @epaatdahlstrom  on Mar 6, 2019, 04:40

closed

[2020-03-10 05:29] #336 closed

[2020-03-10 05:29] treasuretron opened #337 "331 - Assess Group Workflow options"
In GitLab by @thomasmurphy on Mar 6, 2019, 23:44

We will assess this sandbox module
https://www.drupal.org/project/group_workflow

to see if it mostly fit our workflow needs. And other currently open source efforts.

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 6, 2019, 23:44

changed title from **Assess Group Workflow module** to **{+331 - +}Assess Group Workflow module**

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 7, 2019, 21:23

This module only enables workflow to be applied to the content associated with groups, rather than the groups themselves, so doesn't suit our needs.

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 7, 2019, 21:55

changed title from **331 - Assess Group Workflow {-module-}** to **331 - Assess Group Workflow {+options+}**

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 7, 2019, 21:55

changed the description

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 7, 2019, 21:56

This issues looks more related to our needs, it has patches and is worth assessing
https://www.drupal.org/project/group/issues/2906085

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 7, 2019, 22:21

This looks like the thread
https://www.drupal.org/project/group/issues/2906085

Also related
https://www.drupal.org/project/group/issues/2857644
@jayelless you pop up in this thread!

https://www.drupal.org/node/2581253#comment-11847842

https://www.drupal.org/project/group/issues/2829966

It's clear that this is the current drupal.org direction an

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 12, 2019, 22:52

Rich has made a good suggestion - if the above workflow thread investigtaion looks like there is a lot more work to do, he's happy for the mission, description and success metrics to be independent content referenced on the project group, so that we can apply standard drupal workflow to them. This will only require a little manual template re-rend

[2020-03-10 05:29] treasuretron commented on #337
In GitLab by @thomasmurphy on Mar 13, 2019, 23:11

@jayelless we're parking this as lower priority for now

[2020-03-10 05:29] treasuretron opened #338 "Large empty space at top of description on mobile"
In GitLab by @richbodo on Mar 7, 2019, 19:49

Project descriptions look good on desktop, but there is a large empty space at the top of the project description on mobile that tends to scroll the rest of the project off screen.

Will add a screenshot shortly.

[2020-03-10 05:29] treasuretron commented on #338
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

closed

[2020-03-10 05:29] treasuretron commented on #338
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

merged into dev

[2020-03-10 05:29] #338 closed

[2020-03-10 05:29] treasuretron opened #339 "Counts on project sections are inconsistent."
In GitLab by @richbodo on Mar 7, 2019, 20:01

The section counts has evolved from a consistent UX in Orgs to an inconsistent and confusing one in projects.

![Screen_Shot_2019-03-07_at_4.53.37_PM](/uploads/39bf8f3e1cd1f4f6589626bf60827bd9/Screen_Shot_2019-03-07_at_4.53.37_PM.png)

The original reason to have a count of items was to let the user know if it is worth visiting that section. A count of

[2020-03-10 05:30] treasuretron commented on #339
In GitLab by @richbodo on Mar 12, 2019, 21:50

Tom and I discussed and decided that unless fixing counts is trivial, we should get an opinion to see if there is a way to enhance the visual interest of these sections on both projects and orgs, while keeping the functionality of a count or equivalent "more" link.

[2020-03-10 05:30] treasuretron commented on #339
In GitLab by @jayelless on Mar 14, 2019, 17:01

The blue oval was added to project success metrics and reports to provide a visual consistency with the panels below (discussion threads, resources, and members).  The code to generate the count of existing success metrics and reports has not yet been generated, but is expect to come at some point.

Maybe the "needs" panel should have had similar tre

[2020-03-10 05:30] treasuretron commented on #339
In GitLab by @thomasmurphy on Mar 26, 2019, 00:39

removal committed on #339

[2020-03-10 05:30] treasuretron opened #340 "No whitespace between title and body in success metrics"
In GitLab by @richbodo on Mar 7, 2019, 20:04

![Screen_Shot_2019-03-07_at_5.02.25_PM](/uploads/ddfdc5971fd9961435983cfc69eb39e1/Screen_Shot_2019-03-07_at_5.02.25_PM.png)

Descriptions are run together with the next metrics title.  There should be some reasonable whitespace between those sections to make it readable.

[2020-03-10 05:30] treasuretron commented on #340
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

closed

[2020-03-10 05:30] #340 closed

[2020-03-10 05:30] treasuretron opened #341 "Success metrics on the project profile page should be short summaries"
In GitLab by @richbodo on Mar 7, 2019, 20:14

Project Needs and Success Metrics sections currently show full listings of all information, rather than summary information.

![Screen_Shot_2019-03-07_at_5.13.40_PM](/uploads/aa61685d3a55a0dd89bf631515fa508c/Screen_Shot_2019-03-07_at_5.13.40_PM.png)

As with organizations, most info on the profile page (i.e. a success metric or a need) was intended to

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @richbodo on Mar 12, 2019, 21:54

changed title from **{-All project elements on the main page include all information instead of summary information-}** to **{+Success metrics on the project profile page should be short summaries+}**

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @richbodo on Mar 12, 2019, 21:54

changed the description

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @thomasmurphy on Mar 17, 2019, 23:03

@richbodo this seems to me to be the opposite of the request #338? Shall we just add a character limit but not use a summary (ie the Drupal use of the word summary).

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @richbodo on Mar 21, 2019, 19:20

@thomasmurphy

#338 says that /group/[group number]/project-aims has inconsistent style and formatting with the rest of the site - no effort has been made to make it visually consistent or to format it in any way.

This ticket says that /group/[group number] displays the full text of each success metric in the summary view on the project profile page.

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @thomasmurphy on Mar 24, 2019, 21:47

@richbodo agree we haven't cleaned up the display, I've been waiting for the markup to stabilise before passing on to a front end developer to avoid repeating work. Also James has added functionality to the project page from where I handed it over to him, rather than just formatting, which I why I was confused. @jayelless it looks like you modifie

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @thomasmurphy on Mar 25, 2019, 23:02

fixed on #339

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @richbodo on Mar 26, 2019, 16:04

Cool.  I see that you've made some mods and I'll check it out when it's on dev, Tom.

[2020-03-10 05:30] treasuretron commented on #341
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

closed

[2020-03-10 05:30] #341 closed

[2020-03-10 05:30] treasuretron opened #342 "Links and Other sections of resources are completely non-descriptive labels"
In GitLab by @richbodo on Mar 7, 2019, 20:25

Project resources is crying out for UX redesign.

![Screen_Shot_2019-03-07_at_5.17.49_PM](/uploads/741d35963d704639a7c371a1390a9a00/Screen_Shot_2019-03-07_at_5.17.49_PM.png)

Vague is not a great UX philosophy.

Having a section named Other is enough of a grab bag for things we can't describe or anticipate.  But having both Other and Links (which is de

[2020-03-10 05:30] treasuretron commented on #342
In GitLab by @epaatdahlstrom  on Mar 8, 2019, 02:05

Hi Rich,

Im just using what we have in the interest of time two days ago.  I can go with what makes sense.  Right now i put the links about external articles in Other and put vital information about the Challenge under links.  We can re-sort them.  I did not have the time to ask dev team to relabel them before Launch.

-Emeline

[2020-03-10 05:30] treasuretron commented on #342
In GitLab by @richbodo on Mar 8, 2019, 11:13

I get it.  Lets keep this issue open and discuss the resources section the next time we review projects for V2.

[2020-03-10 05:30] treasuretron commented on #342
In GitLab by @jayelless on Mar 26, 2019, 03:50

The label "Other" is just a taxonomy term.  It can be changed in a matter of minutes, if there is agreement on what is wanted.  The original documentation included an "other" section, so that is what was created.

[2020-03-10 05:30] treasuretron opened #343 "337 - Broken thumbnail on discussion summary"
In GitLab by @richbodo on Mar 7, 2019, 20:30

Quickest solution is to remove thumbnails from discussions section of projects listing.

![Screen_Shot_2019-03-07_at_5.25.25_PM](/uploads/bb516ea6b66c2d90582bc6381eaec5a4/Screen_Shot_2019-03-07_at_5.25.25_PM.png)

[2020-03-10 05:31] treasuretron commented on #343
In GitLab by @thomasmurphy on Mar 26, 2019, 00:45

changed title from **Broken thumbnail on discussion summary** to **{+337 - +}Broken thumbnail on discussion summary**

[2020-03-10 05:31] treasuretron commented on #343
In GitLab by @thomasmurphy on Mar 26, 2019, 00:54

@richbodo I can't see this on a platform environment or my local, any tips on how to reproduce?

[2020-03-10 05:31] treasuretron commented on #343
In GitLab by @richbodo on Mar 26, 2019, 16:01

Do you have an android phone?  Probably browser dependent.  If you can't reproduce on Android then close this and we'll see if it pops up again.

[2020-03-10 05:31] treasuretron commented on #343
In GitLab by @thomasmurphy on Mar 27, 2019, 18:09

Just checked on firefox 65 on Android 7.1.2 and works fine.![Screenshot_20190328-110522](/uploads/24dc547f8ccc5d6235030e45eabb7a91/Screenshot_20190328-110522.png)

[2020-03-10 05:31] treasuretron commented on #343
In GitLab by @thomasmurphy on Mar 27, 2019, 18:10

closed

[2020-03-10 05:31] #343 closed

[2020-03-10 05:31] treasuretron opened #344 "Success metrics node is unformatted, and individual metrics do not need nodes"
In GitLab by @richbodo on Mar 7, 2019, 20:43

The success metrics section of a projects profile currently links out to an unformatted page listing the same information that was on the previous page. (the user clicks on the title to get there)

![Screen_Shot_2019-03-07_at_5.31.40_PM](/uploads/88949dcad7cb393ce89c2376760d8443/Screen_Shot_2019-03-07_at_5.31.40_PM.png)

If we format that page, and lim

[2020-03-10 05:31] treasuretron commented on #344
In GitLab by @thomasmurphy on Mar 11, 2019, 18:22

@richbodo they are only nodes to allow suitable object relationships in the reporting, we should just remove the link to the raw entity to optimise the UX.

[2020-03-10 05:31] treasuretron commented on #344
In GitLab by @richbodo on Mar 12, 2019, 21:56

+1.  Also, add format to the metrics detail page consistent with the rest of the site.

[2020-03-10 05:31] treasuretron commented on #344
In GitLab by @thomasmurphy on Mar 26, 2019, 00:39

rendered DOM fix committed to #339 needs frontend

[2020-03-10 05:31] treasuretron commented on #344
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

closed

[2020-03-10 05:31] #344 closed

[2020-03-10 05:31] treasuretron opened #345 "339 - Space Challenge Launch Requirements"
In GitLab by @thomasmurphy on Mar 11, 2019, 20:25

This is a meta ticket to link to required tasks and list non-ticket tasks.
* [x] Search Results #340
* [x] Grid nav #341
* [x] Design and front-end repair work #332 , #333 , #334 , #335 , #337 , #338
* [ ] Private Project Discussion Threads #342 #321
* [ ] Private Project Resources #343
* [x] change permissions on project creation to only allow ed

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 11, 2019, 20:25

changed title from **Space Challenge Launch Requirements** to **{+339 - +}Space Challenge Launch Requirements**

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @richbodo on Mar 11, 2019, 20:39

changed the description

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @richbodo on Mar 11, 2019, 21:31

changed the description

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 12, 2019, 21:52

changed the description

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @richbodo on Mar 12, 2019, 21:58

changed the description

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 12, 2019, 22:37

changed the description

[2020-03-10 05:31] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 12, 2019, 22:54

changed the description

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @richbodo on Mar 18, 2019, 00:47

closed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 18, 2019, 00:52

@richbodo this is the main ticket I'm working off as agreed when we had the last meeting, what's the reason for closing it?

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 16:46

reopened

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 16:55

changed the description

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 16:56

changed the description

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 16:56

changed the description

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 17:01

marked the task **Search Results #340** as completed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 17:01

marked the task **change permissions on project creation to only allow editors and admins #353** as completed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @richbodo on Mar 21, 2019, 19:12

Hey Thomas, the reason for closing it was because I had put all of these tickets into a milestone which I had hoped we would use together, but I think we've covered this well and we are clear that you can keep using this and any other methods you need.

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 21, 2019, 22:50

marked the task **Grid nav #341** as completed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 24, 2019, 20:28

marked the task **make a manual block of all space-challenge projects to display on arbitrary paths. #354** as completed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 26, 2019, 21:39

mentioned in merge request !283

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 27, 2019, 00:55

@richbodo can you have a look at https://pr-283-b55kqtq-ensz4qdpjmziw.us.platform.sh and tell us what you think?

My preference is to merge this into dev to
1) make the dev database more useful to download for further development and
2) allow some more complex content to be entered on master to allow better theming

I think we're close.

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 27, 2019, 22:09

marked the task **Design and front-end repair work #332 , #333 , #334 , #335 , #337 , #338** as completed

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 27, 2019, 22:20

closed via merge request !283

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @thomasmurphy on Mar 27, 2019, 22:20

mentioned in commit 85b6ed2003bf21d0ecbfa80942a33dc799849084

[2020-03-10 05:32] treasuretron commented on #345
In GitLab by @richbodo on Mar 28, 2019, 16:30

I get a 404 on that environment, @thomasmurphy

[2020-03-10 05:32] #345 closed

[2020-03-10 05:32] treasuretron opened #346 "Search results for projects should include only title and first 300 characters of Description"
In GitLab by @richbodo on Mar 11, 2019, 21:19

***URL:*** https://spacebase.co/search?search_api_fulltext=aerospace+challenge

***Expected:*** Title and first 300 char of desc appear in results list for each matching project to a search.

***Observed:***
![Screen_Shot_2019-03-11_at_6.17.53_PM](/uploads/cee944399f759aef1feac2923c57c96c/Screen_Shot_2019-03-11_at_6.17.53_PM.png)

[2020-03-10 05:32] treasuretron commented on #346
In GitLab by @thomasmurphy on Mar 12, 2019, 22:55

assigned to @thomasmurphy

[2020-03-10 05:33] treasuretron commented on #346
In GitLab by @thomasmurphy on Mar 21, 2019, 19:14

committed to #339

[2020-03-10 05:33] treasuretron commented on #346
In GitLab by @thomasmurphy on Mar 27, 2019, 22:39

closed

[2020-03-10 05:33] #346 closed

[2020-03-10 05:33] treasuretron opened #347 "341 - Add projects to grid nav to return a browsable list of projects"
In GitLab by @richbodo on Mar 11, 2019, 21:22

This is a placeholder to remind us to add projects to the grid menu.

Clicking on the project icon should return a paginated list of all projects.

[2020-03-10 05:33] treasuretron commented on #347
In GitLab by @thomasmurphy on Mar 21, 2019, 19:10

changed title from **Add projects to grid nav to return a browsable list of projects** to **{+341 - +}Add projects to grid nav to return a browsable list of projects**

[2020-03-10 05:33] treasuretron commented on #347
In GitLab by @thomasmurphy on Mar 21, 2019, 20:17

committed on #339 needs front end clean up

[2020-03-10 05:33] treasuretron commented on #347
In GitLab by @thomasmurphy on Mar 27, 2019, 22:39

There is a page and a view block at "/projects" on dev with a list of project-group teasers.

[2020-03-10 05:33] treasuretron commented on #347
In GitLab by @thomasmurphy on Mar 27, 2019, 22:39

closed

[2020-03-10 05:33] #347 closed

[2020-03-10 05:33] treasuretron opened #348 "A project owner can make a discussion thread permanently private to project members"
In GitLab by @richbodo on Mar 11, 2019, 21:27

* A project owner, and only a project owner, can make a discussion thread private to project group members only.
* A project owner cannot make a discussion thread public once it has been made private.

This relies on the existing functionality:

Only a project member can participate in a project discussion thread.

[2020-03-10 05:33] treasuretron commented on #348
In GitLab by @richbodo on Mar 12, 2019, 21:57

changed the description

[2020-03-10 05:33] treasuretron commented on #348
In GitLab by @jayelless on Mar 14, 2019, 16:57

A "project owner" is the user who originally created the project group, but there is no role called "project owner". The actions available to a project owner are dictated by the permissions given to the project role "Admin", and this role can be given to any other member of the project if required.

Therefore this issue should really talk in terms of

[2020-03-10 05:33] treasuretron commented on #348
In GitLab by @thomasmurphy on Mar 24, 2019, 20:37

Deferred to after Aerospace challenge launch at sprint meeting on 22/3/19

[2020-03-10 05:33] treasuretron commented on #348
In GitLab by @thomasmurphy on Mar 26, 2019, 21:39

mentioned in merge request !283

[2020-03-10 05:33] treasuretron opened #349 "Project owners can make resources private"
In GitLab by @richbodo on Mar 11, 2019, 21:31

* A project owner, and only a project owner, can make an individual resource private to project members.
* A project owner can make a project resource public again after making it private.

Contingent on:

Only a project owner can make or edit project resources and modify their attributes.

[2020-03-10 05:33] treasuretron commented on #349
In GitLab by @richbodo on Mar 12, 2019, 21:57

changed the description

[2020-03-10 05:33] treasuretron commented on #349
In GitLab by @jayelless on Mar 14, 2019, 16:56

A "project owner" is the user who originally created the project group, but there is no role called "project owner".  The actions available to a project owner are dictated by the permissions given to the project role "Admin", and this role can be given to any other member of the project if required.

Therefore this issue should really talk in terms o

[2020-03-10 05:33] treasuretron commented on #349
In GitLab by @richbodo on Mar 15, 2019, 04:36

Will do, James.

For all internal developer-facing issues, we will use Project Admin.

For web copy, user-facing documentation, internal business documentation and internal discussion we will continue to use Project Owner.

[2020-03-10 05:33] treasuretron commented on #349
In GitLab by @thomasmurphy on Mar 26, 2019, 21:39

mentioned in merge request !283

[2020-03-10 05:33] treasuretron opened #350 "Bug - short toolbar missing on dev"
In GitLab by @thomasmurphy on Mar 12, 2019, 21:49

Emeline (Editor role) is using the shortcut bar and toolbar to create content and projects. This is working fine on master, but dev only admins can see this menu, editor can't. Permissions look the same, we'll have to work out what's going on before deploying.

[2020-03-10 05:33] treasuretron commented on #350
In GitLab by @thomasmurphy on Mar 27, 2019, 18:58

this bug isn't present on
https://gitlab.com/spacebase/spacebase/merge_requests/283
https://pr-283-b55kqtq-ensz4qdpjmziw.us.platform.sh/

so it will probably go away, dropping bug priority.

[2020-03-10 05:34] treasuretron opened #351 "Profile picture inverted on upload"
In GitLab by @richbodo on Mar 14, 2019, 17:38

This is a bug report from Andy at BLINC, related through Eric that needs to be reproduced.

* Andy tried to create a profile on the site, and when uploading his profile image, it was upside down.
* Andy gave the upload a couple more tries and gave up on creating a profile.

[2020-03-10 05:34] treasuretron commented on #351
In GitLab by @richbodo on Mar 14, 2019, 17:38

assigned to @richbodo

[2020-03-10 05:34] treasuretron commented on #351
In GitLab by @thomasmurphy on Mar 17, 2019, 22:06

@richbodo by labelling this high priority do you mean you want Xequals to work on this this sprint? Because that's what we were using that label for previously.

[2020-03-10 05:34] treasuretron commented on #351
In GitLab by @richbodo on Mar 21, 2019, 19:25

O.k. this is awesome.  I have never known the definition of High priority in the xequals context.

From here on out I will assume that High Priority means that an issue is part of the group of tickets that you are working on this sprint, all at the same priority together.

I will remove the high priority label from this ticket until I reproduce this b

[2020-03-10 05:34] treasuretron commented on #351
In GitLab by @richbodo on Mar 28, 2019, 16:48

assigned to @EricDahlstrom and unassigned @richbodo

[2020-03-10 05:34] treasuretron commented on #351
In GitLab by @richbodo on Mar 28, 2019, 16:48

@EricDahlstrom We need to contact Andy to get a copy of the image he tried to upload.   Please put me in touch.

[2020-03-10 05:34] treasuretron opened #352 "If Config Import Fails on Platform.sh env, Notify Developers"
In GitLab by @richbodo on Mar 15, 2019, 05:56

When any dev pushes to any platform environment, if drupal configuration import fails, then the dev who pushed (at least) should be notified.

[2020-03-10 05:34] treasuretron opened #353 "Behat tests can run against platform environments"
In GitLab by @richbodo on Mar 15, 2019, 05:59

Any developer can run behat tests against development environments, and see the pass/fail results or error messages from that environment.

It is o.k. if not every behat test runs, as this will probably be implemented using drush, which could be considerably different from using a headless browser locally.

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @richbodo on Mar 26, 2019, 15:59

Drush 9 is the verdict on this one, Stephen.  I realize drush will probably perform fewer tests than a full chromedriver, but it should still be able to get the basics.

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 2, 2019, 03:08

mentioned in commit d2beea5ebc759d751052bc531238403ed24120d1

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 2, 2019, 14:38

mentioned in commit 8498d98512970aff6118a4442c093d9020c7ad4c

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 2, 2019, 14:38

mentioned in commit 59f0715f9b886529abb1f008310258543bb6af6e

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 2, 2019, 14:38

mentioned in commit 3bf46dc323d1051a531e675af175d586c25b54f4

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 2, 2019, 21:09

mentioned in commit 36442abf18bf4b8563578896b2f13099c8540d6b

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 3, 2019, 04:01

mentioned in commit c0913ddccf7776282f1d5b2400d993c386e745cf

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 4, 2019, 17:47

@thomasmurphy @richbodo

I've moved the tests from branch 306 here and working on getting them to work.

I used composer remove and composer require on drush/drush. This seems the cleanest way to handle all the dependencies: and it still does mean a composer.lock with lots of changes.

Rich, if you want to write tests, this would be a good branch

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @richbodo on Apr 9, 2019, 13:57

Awesome, Stephen.  We'll debug with the latest drush and write some tests tomorrow.  I think platform is pretty easy to get on the phone and email to their support@ always gives me same day response, so we can debug with them pretty quick - maybe they will have a solution.

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 11, 2019, 04:45

mentioned in commit 95a114bf8d577506c673b7b8821d71f647bdbecb

[2020-03-10 05:34] treasuretron commented on #353
In GitLab by @StephenCataldo on Apr 25, 2019, 03:46

mentioned in commit efe558450677e625995e8e68f1c31c24d479bfa4

[2020-03-10 05:34] treasuretron opened #354 "Update Developer Docs to work for branch switching and critical dev workflow"
In GitLab by @richbodo on Mar 15, 2019, 06:05

Tom, correct me if I'm wrong, but what we talked about is something like this:

Developer docs should work for:

* The basic flow: our first setup, test, commit, push to a feature branch, merge to dev, push, merge to production, push.
* Switching branches, performing development on a new branch, and merging and pushing to a platform environment.

[2020-03-10 05:35] treasuretron opened #355 "Administrators Guide - update with roles and rules for content and config management"
In GitLab by @richbodo on Mar 15, 2019, 06:08

Tom, correct me if I'm wrong, but we discussed:

Now that we have fully switched from using admin roles to editor roles 90% of the time, we should document:

What should/can only an admin do.
What should/can an editor do, and what should they watch out for.

And we should document this in [the admin guide](https://gitlab.com/spacebase/spacebase/wikis/

[2020-03-10 05:35] treasuretron opened #356 "Platform.sh pipeline plan documentation"
In GitLab by @richbodo on Mar 15, 2019, 06:14

Tom, correct me if I'm wrong on this in any way:

Although we won't change our current development pipeline, we will document our understanding of how it can be improved, and what steps are required, in as much detail as we can at this point, to get there.

[2020-03-10 05:35] treasuretron commented on #356
In GitLab by @thomasmurphy on Mar 21, 2019, 21:01

2 kinds of errors we've seen so far:
1) Platform intermittently losing MySQL server connection, which causes Drupal config-import to fail
2) Entity UUID of content or group types not matching the dev database (eg if someone downloads a database from a branch or pr env), which can cause drush config-import to attempt to delete and recreate content

[2020-03-10 05:35] treasuretron opened #357 "Add affiliate and sponsors blocks to projects"
In GitLab by @richbodo on Mar 15, 2019, 06:22

As per the [Projects MVP spec](https://gitlab.com/spacebase/spacebase/wikis/Design-Specs/Projects#mvp-summary) two blocks should exist that serve a similar functionality and layout to the partners section of the homepage, but for projects.

Those two sections are called affiliates and sponsors.  It would be awesome if these projects sections could wor

[2020-03-10 05:35] treasuretron opened #358 "Remove hamburger menu"
In GitLab by @richbodo on Mar 15, 2019, 06:27

Just disable this for now.  We will need a place to put links to things like the wiki, reporting pages, etc. that we want everyone to be able to navigate to in an intuitive way, but maybe we'll put a menu across the top of the page for those or something later on.

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @thomasmurphy on Mar 17, 2019, 21:49

@richbodo isn't this a duplicate of #323?

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @richbodo on Mar 21, 2019, 19:31

Not unless I read #323 totally differently than it seems to read.

#323 was a ticket that said you would create a proposal in the form of a new feature branch for a new menu system.

This ticket says to shitcan the hamburger menu.

I think you guys did propose a new layout, then emailed us about it, and we had an email conversation on it, which ended

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @thomasmurphy on Mar 21, 2019, 19:47

@richbodo the first presented prototype was to just get rid of the burger menu, I just sent through Laura's designs because she had historically made them (very quickly) after an internal discussion, so I thought you might as well have them FYI. We never did any dev based on them after the discussion at the relevant sprint meeting.

The 323 branch

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @richbodo on Mar 21, 2019, 20:12

Ah, o.k. I didn't get all that from the description on #323.  I'll take a look at dev and give you some feedback on the new grid menu and the menu_icon_module if I can figure it out.

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @thomasmurphy on Mar 27, 2019, 18:21

change visible on https://pr-283-b55kqtq-ensz4qdpjmziw.us.platform.sh/

[2020-03-10 05:35] treasuretron commented on #358
In GitLab by @thomasmurphy on Mar 27, 2019, 18:21

closed

[2020-03-10 05:35] #358 closed

[2020-03-10 05:35] treasuretron opened #359 "353 Change permissions on project creation to only allow editors and admins"
In GitLab by @richbodo on Mar 18, 2019, 00:47

[2020-03-10 05:35] treasuretron commented on #359
In GitLab by @thomasmurphy on Mar 21, 2019, 16:55

changed title from **Change permissions on project creation to only allow editors and admins** to **{+353 +}Change permissions on project creation to only allow editors and admins**

[2020-03-10 05:35] treasuretron commented on #359
In GitLab by @thomasmurphy on Mar 21, 2019, 19:09

committed to #339

[2020-03-10 05:35] treasuretron commented on #359
In GitLab by @thomasmurphy on Mar 21, 2019, 19:09

closed

[2020-03-10 05:35] treasuretron commented on #359
In GitLab by @thomasmurphy on Mar 21, 2019, 19:10

reopened

[2020-03-10 05:35] treasuretron commented on #359
In GitLab by @thomasmurphy on Mar 27, 2019, 22:40

closed

[2020-03-10 05:35] #359 closed

[2020-03-10 05:35] treasuretron opened #360 "354 make a manual block of all space-challenge projects to display on arbitrary paths."
In GitLab by @richbodo on Mar 18, 2019, 00:48

[2020-03-10 05:36] treasuretron commented on #360
In GitLab by @thomasmurphy on Mar 21, 2019, 16:56

changed title from **make a manual block of all space-challenge projects to display on arbitrary paths.** to **{+354 +}make a manual block of all space-challenge projects to display on arbitrary paths.**

[2020-03-10 05:36] treasuretron commented on #360
In GitLab by @thomasmurphy on Mar 22, 2019, 02:18

commit on #339 needs front end.

[2020-03-10 05:36] treasuretron commented on #360
In GitLab by @thomasmurphy on Mar 27, 2019, 22:42

There is now a "space challenge" tag which can be applied to projects, and links to other projects with this tag will show in a related projects block on projects

[2020-03-10 05:36] treasuretron commented on #360
In GitLab by @thomasmurphy on Mar 28, 2019, 19:43

closed

[2020-03-10 05:36] #360 closed

[2020-03-10 05:36] treasuretron opened #361 "355 - Dev database and config yml on dev branch out of sync"
In GitLab by @thomasmurphy on Mar 19, 2019, 21:13

This is as a result of a failed build process on platform after the 267 merge which gitlab and platform marked as successful. This branch is to export
group.content_type.group_content_type_35e924d9b2d20.yml
from the dev database, merge in and have a successful rebuild on platform, to allow this commit to be merged back into other feature branches

[2020-03-10 05:36] treasuretron commented on #361
In GitLab by @thomasmurphy on Mar 19, 2019, 21:13

changed title from **Dev database and config yml on dev branch out of sync** to **{+355 - +}Dev database and config yml on dev branch out of sync**

[2020-03-10 05:36] treasuretron commented on #361
In GitLab by @thomasmurphy on Mar 19, 2019, 21:22

mentioned in merge request !280

[2020-03-10 05:36] treasuretron commented on #361
In GitLab by @thomasmurphy on Mar 19, 2019, 21:48

closed via merge request !280

[2020-03-10 05:36] treasuretron commented on #361
In GitLab by @thomasmurphy on Mar 19, 2019, 21:48

mentioned in commit 27d6f7114e15f446e0a9e7d3509eeb91f1c4b9da

[2020-03-10 05:36] #361 closed

[2020-03-10 05:36] treasuretron opened #362 "Bug: Event created not showing on Calendar"
In GitLab by @epaatdahlstrom  on Mar 20, 2019, 07:11

I just created a new event but it is not showing up on calendar.

This is the entry:

![Screen_Shot_2019-03-21_at_12.06.14_AM](/uploads/332010acab1e8c9f0d6b5783aa40d3f7/Screen_Shot_2019-03-21_at_12.06.14_AM.png)

And the calendar screen shot with no event:
![Screen_Shot_2019-03-21_at_12.06.41_AM](/uploads/3218924dece47ad33f00e06cddc9e874/Screen

[2020-03-10 05:36] treasuretron commented on #362
In GitLab by @epaatdahlstrom  on Mar 20, 2019, 07:18

Sorry, found the problem and resolved

[2020-03-10 05:36] treasuretron commented on #362
In GitLab by @epaatdahlstrom  on Mar 20, 2019, 07:18

closed

[2020-03-10 05:36] #362 closed

[2020-03-10 05:36] treasuretron opened #363 "/projects listings are run together - need a way to visually differentiate list items"
In GitLab by @richbodo on Mar 28, 2019, 16:43

The /projects page needs a tiny bit of design love to be readable.  The text between items is smushed together while the text between title and description has plenty of whitespace (see attached).

Listings pages should be consistent across the site and visual cues between list items should be obvious.  Some sites just use whitespace, others alternate

[2020-03-10 05:36] treasuretron opened #364 "Password set page needs design work"
In GitLab by @richbodo on Mar 28, 2019, 17:01

In the stage of signup flow where the user is asked to create their password (they get there from an email link), all that needs to be done on the users end is for them to create a password.

There are at least three weird things about this form:

1) The user is asked to "change" their password, but they have never created a password.  That doesn't in

[2020-03-10 05:36] treasuretron commented on #364
In GitLab by @richbodo on Mar 28, 2019, 17:01

changed title from **Password {-policy-} page needs design work** to **Password {+set+} page needs design work**

[2020-03-10 05:36] treasuretron opened #365 "Join Project form needs design work"
In GitLab by @richbodo on Mar 28, 2019, 17:31

The Join project form asks:

* "Generate Project URL alias" with a checkbox and edit box. - Those should be hidden, for sure, as it won't make any sense to anyone and is unnecessary.
* "Create a project role", which would be useful if it gave any indication as to what a role was.

In redesigning this page, lets give the user an indication that they ha

[2020-03-10 05:36] treasuretron commented on #365
In GitLab by @richbodo on Mar 28, 2019, 18:07

changed the description

[2020-03-10 05:36] treasuretron commented on #365
In GitLab by @thomasmurphy on Apr 10, 2019, 00:56

The "Generate Project URL alias" step only appears for the administrator role, so that makes it less of a problem.

[2020-03-10 05:36] treasuretron opened #366 "Projects do not create reports"
In GitLab by @richbodo on Mar 28, 2019, 18:00

*** URL: https://dev-54ta5gq-ensz4qdpjmziw.us.platform.sh/group/267/edit

*** Expected: When creating a report, the report saves and is listed in the reporting block on the projects profile page.

*** Observed: Error issued when creating report.  Report gets listed on edit project page.  Report does not get listed on reporting block on project profile

[2020-03-10 05:37] treasuretron commented on #366
In GitLab by @thomasmurphy on Apr 10, 2019, 01:34

@richbodo I'm having trouble recreating this, when I create a report with a test editor user on https://dev-54ta5gq-ensz4qdpjmziw.us.platform.sh/group/267 it creates and lists it successfully, even when I don't click "create node" from inside the form and just save the whole project form. ![Screenshot_from_2019-04-10_17-32-43](/uploads/f82789774ed

[2020-03-10 05:37] treasuretron commented on #366
In GitLab by @richbodo on Apr 10, 2019, 15:58

It's my fault for not including the environment in the bug report.  If it works it works.  Will reopen if it recurs.

[2020-03-10 05:37] treasuretron commented on #366
In GitLab by @richbodo on Apr 10, 2019, 15:58

closed

[2020-03-10 05:37] #366 closed

[2020-03-10 05:37] treasuretron opened #367 "New Dev Documentation Testing"
In GitLab by @richbodo on Apr 4, 2019, 17:40

Test the following docs:

* [ ] https://gitlab.com/spacebase/spacebase/wikis/Local-environment-setup
* [ ] https://gitlab.com/spacebase/spacebase/wikis/Branch-Switching
* [ ] https://gitlab.com/spacebase/spacebase/wikis/Development#merging-and-pushing-to-dev-and-prodmaster
* [ ] https://gitlab.com/spacebase/spacebase/wikis/Development/Behat

[2020-03-10 05:37] treasuretron commented on #367
In GitLab by @richbodo on Apr 4, 2019, 17:40

changed due date to April 13, 2019

[2020-03-10 05:37] treasuretron opened #368 "Mess around with sentry.io on a local"
In GitLab by @richbodo on Apr 9, 2019, 13:59

https://www.drupal.org/project/raven

[2020-03-10 05:37] treasuretron opened #369 "Blocked User Status Question"
In GitLab by @epaatdahlstrom  on Apr 24, 2019, 19:43

Assigning this question to Rich cause not sure who best to answer.
I'm just looking at the user registrations on the portal.  I wanted to check the total number of legit registered users.  There are over 400 in there but 120 are blocked.  What determines a "block" status?  A quick look at some of the entries, they definitely are bots.  However

[2020-03-10 05:37] treasuretron commented on #369
In GitLab by @richbodo on Apr 25, 2019, 17:56

We left this a bit longer than we should have without dealing with it.

IIRC, we had an account spam problem, which did seem to be ameliorated by QuestyCaptcha.  When QC was implemented, I *think* a dev put accounts into blocked state on their best guess?

I'm guessing that, because if you or I did it, we would have deleted the accounts, but a contrac

[2020-03-10 05:37] treasuretron commented on #369
In GitLab by @epaatdahlstrom  on Apr 25, 2019, 17:59

Yes, I will work on this.

![nz-aerospace-challenge](/uploads/4b437769766f43713eb38bdeef52cf86/nz-aerospace-challenge.jpg)

[2020-03-10 05:37] treasuretron opened #370 "Testing Direct Messaging: Error message on direct message in Dev"
In GitLab by @epaatdahlstrom  on Apr 25, 2019, 18:34

Not sure why there is an error message coming on all the direct messaging page when I execute something.

![Screen_Shot_2019-04-26_at_10.32.14_AM](/uploads/8844477c19ba5e787f6fcfad8b2386b9/Screen_Shot_2019-04-26_at_10.32.14_AM.png)r

[2020-03-10 05:37] treasuretron commented on #370
In GitLab by @epaatdahlstrom  on Apr 25, 2019, 18:34

changed the description

[2020-03-10 05:37] treasuretron commented on #370
In GitLab by @jayelless on May 5, 2019, 18:09

This message appears whenever a change to content access permissions has been made.  Once the access permissions have been rebuilt by an administrator, then the message will stop being displayed.

It is not an error, but a reminder that an administration task is outstanding.

[2020-03-10 05:37] treasuretron commented on #370
In GitLab by @jayelless on May 5, 2019, 18:14

The permissions have been rebuilt and the message is not appearing any more.

[2020-03-10 05:37] treasuretron commented on #370
In GitLab by @jayelless on May 5, 2019, 18:14

closed

[2020-03-10 05:37] #370 closed

[2020-03-10 05:37] treasuretron opened #371 "Testing Direct Message: Cosmetic Feedback"
In GitLab by @epaatdahlstrom  on Apr 25, 2019, 18:37

The name of the person the message is being sent to is before the "To" instead of after.

![Screen_Shot_2019-04-26_at_10.35.57_AM](/uploads/34b2fe1985b108ff7c312332139557d9/Screen_Shot_2019-04-26_at_10.35.57_AM.png)

[2020-03-10 05:37] treasuretron commented on #371
In GitLab by @jayelless on May 5, 2019, 18:17

This is a core part of the private_message module.  Basically, the first addressee (Rich Bodo in this case) has been entered and the form is now ready to accept a second addressee.

We are using the module for sending to just single individuals, so we get this display.

It would be possible to use a javascript snippet to move the "To:" element to prec

[2020-03-10 05:37] treasuretron commented on #371
In GitLab by @epaatdahlstrom  on May 7, 2019, 05:04

Ok thanks.  Not a big deal at this stage.

[2020-03-10 05:37] treasuretron commented on #371
In GitLab by @epaatdahlstrom  on May 12, 2019, 00:24

closed

[2020-03-10 05:37] #371 closed

[2020-03-10 05:38] treasuretron opened #372 "Xequals to talk to Stephen about Behat and Merge something"
In GitLab by @thomasmurphy on Apr 25, 2019, 18:50

commit message from 5/4/19 Stephen copied work over from 306 to 347b. double check with him.

Related
https://gitlab.com/spacebase/spacebase/merge_requests/286
https://gitlab.com/spacebase/spacebase/issues/347
https://gitlab.com/spacebase/spacebase/issues/306
https://gitlab.com/spacebase/spacebase/merge_requests/254

[2020-03-10 05:38] treasuretron commented on #372
In GitLab by @thomasmurphy on Jun 19, 2019, 20:29

closed

[2020-03-10 05:38] #372 closed

[2020-03-10 05:38] treasuretron opened #373 "Remove unstable config-import automation from platform pipeline"
In GitLab by @thomasmurphy on Apr 25, 2019, 18:51

* [ ]  Add to deployment documentation that config-import will need to be run via the platform CLI instead.

[2020-03-10 05:38] treasuretron commented on #373
In GitLab by @jayelless on Apr 30, 2019, 17:38

mentioned in merge request !293

[2020-03-10 05:38] treasuretron commented on #373
In GitLab by @jayelless on Apr 30, 2019, 17:38

Change made and a merge request created.

[2020-03-10 05:38] treasuretron commented on #373
In GitLab by @thomasmurphy on May 16, 2019, 18:11

changed the description

[2020-03-10 05:38] treasuretron opened #374 "Create site administration documentation in wiki"
In GitLab by @thomasmurphy on Apr 25, 2019, 18:53

Administrators Guide - update with roles and rules for content and config management.

[2020-03-10 05:38] treasuretron opened #375 "Repeating PHP error on cron runs"
In GitLab by @jayelless on Apr 30, 2019, 17:41

From merge request !291 - Private project content and create orgs again production launch

Merge completed, getting a new error on cron run

TypeError: Argument 1 passed to Drupal\\group\\Entity\\GroupContent::loadByEntity() must implement interface Drupal\\Core\\Entity\\ContentEntityInterface, null given, called in /app/web/modules/custom/spacebase_

[2020-03-10 05:38] treasuretron commented on #375
In GitLab by @jayelless on Apr 30, 2019, 18:07

mentioned in merge request !294

[2020-03-10 05:38] treasuretron commented on #375
In GitLab by @jayelless on Apr 30, 2019, 18:08

Fix prepared and committed to branch 369-php-errors, along with a fix for another frequent php error.

[2020-03-10 05:38] treasuretron opened #376 "Change Subtitle for NZ Aerospace Challenge Affiliated Project"
In GitLab by @epaatdahlstrom  on May 2, 2019, 18:03

Please change the heading for the Affiliated Projects on Projets,  from "Space Challenge Projects"  to "Aerospace Challenge Projects".   The key partners are very touchy on branding.  Thanks.

![Screen_Shot_2019-05-03_at_9.58.13_AM](/uploads/5ec845ec85b973673baf23dd10a4ef09/Screen_Shot_2019-05-03_at_9.58.13_AM.png)

[2020-03-10 05:38] treasuretron commented on #376
In GitLab by @epaatdahlstrom  on May 2, 2019, 18:27

Fixed by Thomas

[2020-03-10 05:38] treasuretron commented on #376
In GitLab by @epaatdahlstrom  on May 2, 2019, 18:27

closed

[2020-03-10 05:38] #376 closed

[2020-03-10 05:38] treasuretron opened #377 "371 - Adding Events Error"
In GitLab by @epaatdahlstrom  on May 5, 2019, 20:10

Lately I have been having these errors (see attached images) when I try to add new events to the calendar.  In the past after several attempts it eventually accepts it.  Today, I've tried multiple times but it will not accept my entry.  Not sure what's the net step.
![Screenshot_2019-05-06_12.01.56](/uploads/e961d9d668137f97908ced6d58a7f5b7/Scre

[2020-03-10 05:38] treasuretron commented on #377
In GitLab by @epaatdahlstrom  on May 5, 2019, 20:19

FYI. I finally got one event accepted by adding each field and saving.  I still don't know what triggers the error as the one that now exist is the same info I was entering all in one go.

[2020-03-10 05:38] treasuretron commented on #377
In GitLab by @thomasmurphy on May 9, 2019, 18:23

I will try looking at the logs monday 12:05pm for Emeline related events.

[2020-03-10 05:38] treasuretron commented on #377
In GitLab by @thomasmurphy on May 9, 2019, 18:26

changed title from **Adding Events Error** to **{+371 - +}Adding Events Error**

[2020-03-10 05:38] treasuretron commented on #377
In GitLab by @thomasmurphy on May 9, 2019, 18:33

I've disabled honeypot on forms which only editors etc have access to, which was probably causing this. This is live config, so will need to get committed at some point. Also done on dev to increase the pathways by which this can get into the repo.

[2020-03-10 05:38] treasuretron commented on #377
In GitLab by @epaatdahlstrom  on May 12, 2019, 00:13

closed

[2020-03-10 05:39] #377 closed

[2020-03-10 05:39] treasuretron opened #378 "372 - Direct Messaging in Dev: Uploading images"
In GitLab by @epaatdahlstrom  on May 9, 2019, 18:39

For uploading images within a message.  There is no guideline for size limit.  I have successfully uploaded images that are small but if testing bigger images, it just gives an error that it needs the file to upload and does not say what was the problem in the first place.  See image error![Screenshot_2019-05-10_10.34.28](/uploads/044bb2f0adb2f0

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @epaatdahlstrom  on May 9, 2019, 18:41

Essentially, it throws out the image file being uploaded if huge and shows the above error - as if there was no image file being uploaded.  Is there a way to show image file limit before trying to upload?

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @thomasmurphy on May 9, 2019, 18:45

changed title from **Direct Messaging in Dev:  Uploading images** to **{+372 - +}Direct Messaging in Dev:  Uploading images**

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @thomasmurphy on May 9, 2019, 18:46

@epaatdahlstrom  because we haven't tested this with images so far, it's out of scope for this deployment. I'll disable images and formatting in general from messages to prevent this problem from arising.

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @thomasmurphy on May 9, 2019, 19:02

I think we need this module to clean up what text formats are available where
https://www.drupal.org/project/allowed_formats

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @thomasmurphy on May 9, 2019, 20:45

Looking into the module above, it only allows one to set the text format on the field settings, and the private_message custom entity doesn't have field settings, so that's not going to work.

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @thomasmurphy on May 9, 2019, 21:41

I've set the default text format to plain text, but users will still be able to change the input format to basic HTML which will allow them to find the image bug. This change would also require users editing other content to switch to basic html if they wanted to add anything other than plain text to any other input format. I'll see if installing t

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @epaatdahlstrom  on May 12, 2019, 00:14

quick fix looks good.  Will have to deal with image size later.

[2020-03-10 05:39] treasuretron commented on #378
In GitLab by @epaatdahlstrom  on May 12, 2019, 00:14

closed

[2020-03-10 05:39] #378 closed

[2020-03-10 05:39] treasuretron opened #379 "373 - Shortcut to creating new project in dev"
In GitLab by @epaatdahlstrom  on May 9, 2019, 18:57

The shortcut to creating new project on dev I think goes to the wrong link (note- in production it is still correct)

![Screenshot_2019-05-10_10.54.02](/uploads/fbf1773d71d3cb966533acc25eee080e/Screenshot_2019-05-10_10.54.02.png)

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @thomasmurphy on May 9, 2019, 19:08

changed title from **Shortcut to creating new project in dev** to **{+373 - +}Shortcut to creating new project in dev**

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @thomasmurphy on May 9, 2019, 20:16

They are both going to the same path "/group/add/project_group". Is the form behaving differently for you when you go to that path on dev?

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @epaatdahlstrom  on May 9, 2019, 20:26

When I click, it goes to that layout asking about roles and URL instead of the project form.

-Emeline

![nz-aerospace-challenge](/uploads/5df564041a40aa71f7fced613b766056/nz-aerospace-challenge.jpg)

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @thomasmurphy on May 9, 2019, 20:36

Are you part way through creating a test project from before? Try submitting that form and see if it takes you to a test project. I can create a test project without any problems.

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @epaatdahlstrom  on May 9, 2019, 22:56

Yes!  That was it.  Sorry, I didn't realize it was stuck on that step.  Will close this.

[2020-03-10 05:39] treasuretron commented on #379
In GitLab by @epaatdahlstrom  on May 9, 2019, 22:56

closed

[2020-03-10 05:39] #379 closed

[2020-03-10 05:39] treasuretron opened #380 "374 - Affiliated Projects List on Prod"
In GitLab by @epaatdahlstrom  on May 9, 2019, 19:05

The affiliated projects are correctly being listed on the NZ Challenge page.  However, if you are in one of the sub teams (e.g. Incubator Team 1 test).  It also lists the other teams (e.g. Incubator Team 2) besides the NZ Aerospace Challenge.  Ideally this should not be the case, only NZ Aerospace.  Is this an easy fix?

![Screenshot_2019-05-10_

[2020-03-10 05:39] treasuretron commented on #380
In GitLab by @epaatdahlstrom  on May 9, 2019, 19:06

Or maybe better yet not have the affiated project box for sub projects?

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @thomasmurphy on May 9, 2019, 19:07

changed title from **Affiliated Projects List on Prod** to **{+374 - +}Affiliated Projects List on Prod**

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @thomasmurphy on May 9, 2019, 20:11

Hi Emeline, the affiliated projects aren't sub-projects, they are affiliated project, ie there is no hierarchy. It's not an easy fix because this system was a quick fix to get some related project functionality. Each project is the same, so the layout is the same for each project, regardless of whether it is intended to be a parent project or not.

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @epaatdahlstrom  on May 9, 2019, 20:24

Having NZ Challenge on the top certainly works.  I’m wondering whether the Title for the section should be changed to "Affiliated Projects”?

![nz-aerospace-challenge](/uploads/dbe797e7383e4ad6a95f19fd12c99699/nz-aerospace-challenge.jpg)

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @thomasmurphy on May 9, 2019, 20:40

I could change the title to that, but I was already asked to change the title to what it currently is, so I fear I may be asked to change it back again. Could you confer with Rich? It currently works by creating the title from the tag that is used to associate the projects, which is this case is call "NZ Aerospace Challenge".

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @epaatdahlstrom  on May 9, 2019, 21:25

Ok, will check

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @epaatdahlstrom  on May 14, 2019, 21:50

Please go ahead and change this to "Affiliated Projects".   Rich and I have aligned.

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @richbodo on May 15, 2019, 18:05

Updated the project name from "NZ Aerospace Challenge" to "Affiliated Projects"

[2020-03-10 05:40] treasuretron commented on #380
In GitLab by @epaatdahlstrom  on May 15, 2019, 18:06

closed

[2020-03-10 05:40] #380 closed

[2020-03-10 05:40] treasuretron opened #381 "375 - Issues related to next dev to master deployment"
In GitLab by @thomasmurphy on May 9, 2019, 19:05

This is to bundle a few small bug fixes on one branch named based on this issue.
* [ ]  #371
* [ ]  #372
* [ ]  #373
* [ ]  #374

[2020-03-10 05:40] treasuretron commented on #381
In GitLab by @thomasmurphy on May 9, 2019, 19:05

changed title from **Issues related to next dev to master deployment** to **{+375 - +}Issues related to next dev to master deployment**

[2020-03-10 05:40] treasuretron commented on #381
In GitLab by @thomasmurphy on May 9, 2019, 19:08

changed the description

[2020-03-10 05:40] treasuretron opened #382 "Two "Members" menu on the Admin menu bar"
In GitLab by @epaatdahlstrom  on May 19, 2019, 04:14

I think only the Admin can see this but I'm not sure why there are two "Members" tab for managing projects... see image below.

![Screenshot_2019-05-19_20.11.39](/uploads/7ba1c9850a898141a5d188d69f9e80d6/Screenshot_2019-05-19_20.11.39.png)

[2020-03-10 05:40] treasuretron opened #383 "Go through the GDPR checklist and verify compliance"
In GitLab by @richbodo on May 23, 2019, 19:07

https://gdprchecklist.io/

There are may be some new ToS changes to make, and we might need to add a data export module.

[2020-03-10 05:40] treasuretron opened #384 "Given I am on "/search/organizations?keywords=space" cities don't show and page design needs review"
In GitLab by @StephenCataldo on May 24, 2019, 18:55

Ran (new) test "Scenario: Org Search using city and industry facets, javascript:" in search.feature,
and noticed the failure.

[2020-03-10 05:40] treasuretron commented on #384
In GitLab by @richbodo on Jan 7, 2020, 16:26

closed

[2020-03-10 05:40] #384 closed

[2020-03-10 05:40] treasuretron opened #385 "New Relic Performance Assessment"
In GitLab by @thomasmurphy on Jun 4, 2019, 01:20

Once New Relic is installed, identify performance bottlenecks and suggest improvements.

[2020-03-10 05:40] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 01:21

![SpaceBaseNewRelicPerformanceTest.4.6.19](/uploads/04b1d1aed5165cc7a3a147384d82e713/SpaceBaseNewRelicPerformanceTest.4.6.19.png)

![SpaceBaseNewRelicPerformanceTest.Views.4.6.19](/uploads/ead444be90a4b927e5e86623ef241637/SpaceBaseNewRelicPerformanceTest.Views.4.6.19.png)

[2020-03-10 05:40] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 01:22

![SpaceBaseNewRelicTop5Transactions](/uploads/06a9686dcf8b52909a5dad8679914c75/SpaceBaseNewRelicTop5Transactions.png)

[2020-03-10 05:40] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 01:23

This issue is related to the top 5 transactions
https://www.drupal.org/project/drupal/issues/2758985
One person suggests the APCu PHP extension helps
Which is a Platform.sh option
https://docs.platform.sh/languages/php/extensions.html

and I can look into enabling on Lando.

[2020-03-10 05:41] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 01:29

This is a little different showing the transition from looking at the homepage not logged in to authenticated user activity![SpaceBaseNewRelic.Switch_from_anonymous_to_authenticate_behaviour.](/uploads/dbc0326fa62fe6cd78a054e699c4c216/SpaceBaseNewRelic.Switch_from_anonymous_to_authenticate_behaviour..png)

[2020-03-10 05:41] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 01:33

Organization Resources is the view which is using up the most resources. It does have tag based caching, but it's not doing much by the looks of things. Quite a few complex look-ups based upon the group and permissions by term relationships. Would need a bit more research to optimise.

[2020-03-10 05:41] treasuretron commented on #385
In GitLab by @thomasmurphy on Jun 4, 2019, 02:35

Searching for "organization_resources" in the codebase comes up with the interesting instances. This in "spacebase.theme"

  // Change descriptions for empty Organization Resources
  // @Refactor, not sure, could this be combined with  _prep_resources
  // in spacebase_core?
  if ($view->id() == "organization_resources"
      && $view->current_disp

[2020-03-10 05:41] treasuretron commented on #385
In GitLab by @jayelless on Jun 10, 2019, 23:55

After looking at the code and the configuration of views in the system, I think the following applies:

1. There is a call to building the view (block_2) in the function "_set_the_group_links" in spacebase_core.module, and it is likely that this function is called whenever a group entity is rendered.

2. A key place where numerous organization groups

[2020-03-10 05:41] treasuretron commented on #385
In GitLab by @richbodo on Jan 7, 2020, 16:24

closed

[2020-03-10 05:41] #385 closed

[2020-03-10 05:41] treasuretron opened #386 "Discussion Post - long text running through and overlapping"
In GitLab by @epaatdahlstrom  on Jun 4, 2019, 01:28

On a recent discussion post on NZ Aerospace Challenge project. A long link runs through and goes over the designated display text box.

![image](/uploads/ad07390bae38762e9b979e6ae2e5d19b/image.png)

[2020-03-10 05:41] treasuretron opened #387 "General Forum for discussion (Feature Request) in spacebase.co"
In GitLab by @indobalaji on Aug 7, 2019, 05:25

It would be great if a general forum  with ability to create threads is made available in spacebase.co so that users can interact with each other.

[2020-03-10 05:41] treasuretron opened #388 "Problems with website on all Browsers"
In GitLab by @epaatdahlstrom  on Aug 12, 2019, 02:30

I was working on the website on Chrome which works ok but then on Safari, it says Certificate has expired and I get this message

![Error](/uploads/c3fcf46d51c3e63dc92623ad28b526aa/Error.jpg)

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @epaatdahlstrom  on Aug 12, 2019, 02:30

changed title from **Problems with website on {-Safari-}** to **Problems with website on {+all Browsers+}**

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @richbodo on Aug 12, 2019, 03:00

Good catch, Em.  I'll regenerate a cert and get it up there.

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @richbodo on Aug 12, 2019, 03:06

I'm redeploying.  Should be fixed in a minute.

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @richbodo on Aug 12, 2019, 03:13

Aaannd...we're back!

Have to clear your cache for spacebase.co if you have the old cert, though.  Your cache will expire at some point, though.

Let me see if I can find a good way for you to clear it just for the one site in chrome.  It used to be easier.  I'll ping you on slack.

Attached evidence:

![Screen_Shot_2019-08-12_at_12.12.13_AM](/uploads

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @richbodo on Aug 12, 2019, 03:14

closed

[2020-03-10 05:41] treasuretron commented on #388
In GitLab by @epaatdahlstrom  on Aug 12, 2019, 03:16

Awesome!  Thanks!

![nz-aerospace-challenge](/uploads/28ff06ff8132673eb8bb432337170ddd/nz-aerospace-challenge.jpeg)

[2020-03-10 05:41] #388 closed

[2020-03-10 05:41] treasuretron opened #389 "Website is Down"
In GitLab by @epaatdahlstrom  on Aug 19, 2019, 04:35

Same error for Safari and Chrome

This site can’t be reached https://spacebase.co/ is unreachable.
ERR_ADDRESS_UNREACHABLE

[2020-03-10 05:41] treasuretron commented on #389
In GitLab by @richbodo on Aug 19, 2019, 22:15

It was down for 30 minutes exactly according to the monitoring system.

This has happened before.  I'll check the logs.

[2020-03-10 05:41] treasuretron commented on #389
In GitLab by @richbodo on Aug 19, 2019, 22:32

So, uptimerobot shows that at 1:35AM Pacific Time the site went down, and at 2:05AM it came back up.  I guess that's 8:30PM NZ time it went down.

I'm going to have to look a little deeper.  Get back to you on this.

It's kind of weird that it's exactly 30 minutes.

I think ERR_ADDRESS_UNREACHABLE means that the actual IP address is unreachable.  Sinc

[2020-03-10 05:41] treasuretron commented on #389
In GitLab by @richbodo on Jan 7, 2020, 16:07

closed

[2020-03-10 05:41] #389 closed

[2020-03-10 05:42] treasuretron opened #390 "TypeError in SpaceBaseCore.php"
In GitLab by @richbodo on Aug 19, 2019, 22:19

Just looking at the error message, it looks like someone was doing something with a group, and a null got passed as an argument instead of a group object.  SpaceBaseCore should probably validate that input - it could just be bots passing in random stuff.

Here: https://spacebase.co/admin/reports/dblog/event/189158

[2020-03-10 05:42] treasuretron commented on #390
In GitLab by @richbodo on Aug 19, 2019, 22:33

This happens almost every 20 minutes on the nose, so some cron job that wants to do something with groups is probably at fault.

[2020-03-10 05:42] treasuretron commented on #390
In GitLab by @richbodo on Aug 19, 2019, 22:54

Ah, looks like a fix was prepared by James on branch 369-php-errors (branch 369-php-errors)

Sigh.  In the merge queue with some other important-looking stuff and WIPs that probably need testing.

[2020-03-10 05:42] treasuretron commented on #390
In GitLab by @richbodo on Aug 19, 2019, 23:01

I'm going to close this one and leave James old ticket open.

[2020-03-10 05:42] treasuretron commented on #390
In GitLab by @richbodo on Aug 19, 2019, 23:01

closed

[2020-03-10 05:42] #390 closed

[2020-03-10 05:42] treasuretron opened #391 "Lando updating-to-rc2 creates problems"
In GitLab by @StephenCataldo on Aug 28, 2019, 18:43

Lando has made changes. "Lando upgrade fixes" fixes some of them — BUT will break your localhost setup if you upgrade code without upgrading lando. Also, behat appears to no longer work properly... so creating a ticket to keep track of such things to get back to today's work.

@api drupal, drush:
      cURL error 6: Could not resolve host: nginx

[2020-03-10 05:42] treasuretron commented on #391
In GitLab by @richbodo on Jan 7, 2020, 16:13

closed

[2020-03-10 05:42] #391 closed

[2020-03-10 05:42] treasuretron opened #392 "Minor git review: web/libraries/c3"
In GitLab by @StephenCataldo on Aug 29, 2019, 20:50

I think gitignore is wrong, and code is grabbed by composer update and then committed. nbd but review some time.

[2020-03-10 05:42] treasuretron commented on #392
In GitLab by @StephenCataldo on Jan 7, 2020, 16:14

closed

[2020-03-10 05:42] #392 closed

[2020-03-10 05:42] treasuretron opened #393 "Vulnerabilities in code"
In GitLab by @StephenCataldo on Aug 29, 2019, 21:13

remote: GitHub found 34 vulnerabilities on StephenCataldo/spacebase2's default branch (4 critical, 13 high, 12 moderate, 5 low). To find out more, visit:
remote:      https://github.com/StephenCataldo/spacebase2/network/alerts

[2020-03-10 05:42] treasuretron commented on #393
In GitLab by @richbodo on Jan 7, 2020, 16:17

closed

[2020-03-10 05:42] #393 closed

[2020-03-10 05:42] treasuretron opened #394 "content_notifications error and retest"
In GitLab by @StephenCataldo on Aug 30, 2019, 13:34

This error in logs:

TypeError: Argument 1 passed to Drupal\group\Entity\GroupContent::loadByEntity() must implement interface Drupal\Core\Entity\ContentEntityInterface, null given, called in /app/web/modules/custom/spacebase_core/spacebase_core.module on line 573 in Drupal\group\Entity\GroupContent::loadByEntity() (line 117 of /app/web/modules/

[2020-03-10 05:42] treasuretron commented on #394
In GitLab by @richbodo on Jan 7, 2020, 16:21

closed

[2020-03-10 05:42] #394 closed

[2020-03-10 05:42] treasuretron opened #395 "Important: do not upgrade address module yet"
In GitLab by @StephenCataldo on Aug 30, 2019, 13:36

Apparently there is a race condition or similar when upgrading address module and core, summer 2019.

Until the core upgrades from August 30 are pushed to master, do not also upgrade the address module.

(And test careful when upgrading address module)

[2020-03-10 05:42] treasuretron commented on #395
In GitLab by @richbodo on Jan 7, 2020, 16:22

closed

[2020-03-10 05:42] treasuretron commented on #395
In GitLab by @StephenCataldo on Jan 7, 2020, 16:34

All done on Pantheon.

[2020-03-10 05:42] #395 closed

[2020-03-10 05:43] treasuretron opened #396 "Low bandwidth start page with all site sections - for discussion"
In GitLab by @richbodo on Sep 9, 2019, 18:52

Reasoning:
* Faster loading
* Faster understanding of nav and site contents

Balaji and I discussed a low-bandwidth version - suggested home page redesign:

1) Quickly load the menu items and no big images.  Top Menu instead of grid menu: People | Orgs | Events | Blogs | News | Projects | Videos | Wiki | About

2) Below that: A list of the recent items

[2020-03-10 05:43] treasuretron commented on #396
In GitLab by @richbodo on Sep 16, 2019, 19:01

Also suggested by Balaji: Social media links should be more prominent, maybe at the top of the page.

[2020-03-10 05:43] treasuretron commented on #396
In GitLab by @richbodo on Sep 25, 2019, 13:54

Strong validation for this, plus a few other changes, from Balaji:

https://docs.google.com/document/d/0B-Dy4VJ02X44RG9YTDVhNzY1Y3ZDQ0xGVFZJd1k1OHVRc3Rr/edit

[2020-03-10 05:43] treasuretron opened #397 "Email message Notifications for personal messages on SB website do not format correctly"
In GitLab by @epaatdahlstrom  on Sep 23, 2019, 01:20

I turned on my personal messaged notification on SB website.  Someone just sent me a message and it shows up like below.  Serious formatting bug on supposedly plain text.

------ Original Message ------
From: feedback@spacebase.co
To: stephen.fellner@lune-digital.com
Sent: 9/23/2019 3:16:03 PM
Subject: Private message at SpaceBase

stephenf,
Yo

[2020-03-10 05:43] treasuretron opened #398 "Problem publishing an Org link"
In GitLab by @epaatdahlstrom  on Oct 16, 2019, 07:04

Harsh who has Editor status has tried to create a resource link on Org SpaceBase 3x but his submissions always get the following error:
"The website encountered an unexpected error. Please try again later."

The content link appears under content as "Democratising the Space Industry | TEDxAuckland" but it does not publish.  We need to add those

[2020-03-10 05:43] treasuretron commented on #398
In GitLab by @epaatdahlstrom  on Oct 16, 2019, 07:04

changed due date to October 18, 2019

[2020-03-10 05:43] treasuretron commented on #398
In GitLab by @richbodo on Oct 17, 2019, 03:00

assigned to @StephenCataldo and unassigned @richbodo

[2020-03-10 05:43] treasuretron commented on #398
In GitLab by @richbodo on Oct 17, 2019, 03:01

In communication with Stephen and Harsh on this at the moment.

[2020-03-10 05:43] treasuretron opened #399 "Init config updates - [merged]"
In GitLab by @aspiringweb on Jan 15, 2018, 23:17

_Merges init-config-updates -> master_

Just a couple of init config updates to tweak menu paths, views paths, theme settings, etc. Shows how we can use branches and merge requests to deploy environments to platform for testing and merging.

[2020-03-10 05:43] treasuretron commented on #399
In GitLab by @aspiringweb on Jan 15, 2018, 23:20

Looks pretty good. I'm going to merge.

[2020-03-10 05:43] treasuretron commented on #399
In GitLab by @aspiringweb on Jan 15, 2018, 23:20

merged

[2020-03-10 05:43] treasuretron commented on #399
In GitLab by @aspiringweb on Jan 15, 2018, 23:20

mentioned in commit adc6dc252c3ffb8dedd2223816f6ef726612b868

[2020-03-10 05:43] #399 closed

[2020-03-10 05:43] treasuretron opened #400 "testing merge request - [merged]"
In GitLab by @137px on Jan 16, 2018, 20:46

_Merges mike-test -> master_

[2020-03-10 05:43] treasuretron commented on #400
In GitLab by @aspiringweb on Jan 16, 2018, 20:51

This is a great idea. I approve of this. Lets push it live today! Not tests required!

[2020-03-10 05:43] treasuretron commented on #400
In GitLab by @137px on Jan 16, 2018, 20:51

mentioned in commit 5d5324190b6a99bfd54aadb49224669d09c320d9

[2020-03-10 05:44] treasuretron commented on #400
In GitLab by @137px on Jan 16, 2018, 20:51

merged

[2020-03-10 05:44] #400 closed

[2020-03-10 05:44] treasuretron opened #401 "initial theme files - [merged]"
In GitLab by @137px on Jan 19, 2018, 16:10

_Merges theme-creation -> master_

Built subtheme of bootstrap, set up initial settings for nav and footer

[2020-03-10 05:44] treasuretron commented on #401
In GitLab by @aspiringweb on Jan 19, 2018, 16:10

@137px I will test on platform and merge if its good to go

[2020-03-10 05:44] treasuretron commented on #401
In GitLab by @aspiringweb on Jan 19, 2018, 16:53

merged

[2020-03-10 05:44] treasuretron commented on #401
In GitLab by @aspiringweb on Jan 19, 2018, 16:53

mentioned in commit e2f2bc676c34c08ccd5a05bc85ab92c49ae96140

[2020-03-10 05:44] #401 closed

[2020-03-10 05:44] treasuretron opened #402 "add beta route - [merged]"
In GitLab by @richbodo on Jan 23, 2018, 02:41

_Merges beta-route -> master_

I added beta.spacebase.co to DNS on cloudflare so we have a URL to work with temporarily.

[2020-03-10 05:44] treasuretron commented on #402
In GitLab by @aspiringweb on Jan 25, 2018, 19:37

merged

[2020-03-10 05:44] treasuretron commented on #402
In GitLab by @aspiringweb on Jan 25, 2018, 19:37

mentioned in commit 9d77e0b85ebfb0c95ef4b449f5a09c2c5cc7dbe3

[2020-03-10 05:44] #402 closed

[2020-03-10 05:44] treasuretron opened #403 "Home theming - [merged]"
In GitLab by @137px on Jan 23, 2018, 18:29

_Merges home-theming -> master_

Built out home page
Partner content type created, custom blocks
Remaining: footer menus and search block embedded via twig tweak

[2020-03-10 05:44] treasuretron commented on #403
In GitLab by @aspiringweb on Jan 25, 2018, 19:56

merged

[2020-03-10 05:44] treasuretron commented on #403
In GitLab by @aspiringweb on Jan 25, 2018, 19:59

@137px this is on production. You can add content now.

[2020-03-10 05:44] #403 closed

[2020-03-10 05:44] treasuretron opened #404 "Solr search config - [merged]"
In GitLab by @aspiringweb on Jan 25, 2018, 09:32

_Merges solr-search-config -> master_

Inital config and setup of search api and solr on lando and platform.

[2020-03-10 05:44] treasuretron commented on #404
In GitLab by @aspiringweb on Jan 25, 2018, 12:40

merged

[2020-03-10 05:44] #404 closed

[2020-03-10 05:44] treasuretron opened #405 "Updating config from prod - [merged]"
In GitLab by @aspiringweb on Jan 25, 2018, 13:36

_Merges 20180125_prod_config_update -> master_

[2020-03-10 05:44] treasuretron commented on #405
In GitLab by @aspiringweb on Jan 25, 2018, 13:36

mentioned in commit 0d45b362020371bb37182be898f74b4bf5a4e698

[2020-03-10 05:45] treasuretron commented on #405
In GitLab by @aspiringweb on Jan 25, 2018, 13:36

merged

[2020-03-10 05:45] #405 closed

[2020-03-10 05:45] treasuretron opened #406 "Installs mailsystem and mailgun modules, sets configuration for prod and local - [merged]"
In GitLab by @aspiringweb on Jan 25, 2018, 19:04

_Merges mailsystem -> master_

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:05

@richbodo Just FYI this will ensure that only master will use the beta.spacebase.co working domain. All other branches will fallback on the sandbox domain.

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:05

Oops. Will remove this.

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:06

changed this line in [version 2 of the diff](https://gitlab.com/spacebase/spacebase/merge_requests/10/diffs?diff_id=10535185&start_sha=fb9528df8dfe0970f95742d9c08ca32bb94e19b7#5afadbed33aeff787ea1d4e69d69ca5ffdabeabd_126_126)

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:06

added 1 commit

* ca08fdcd - removing dev print_r in settings.php

[Compare with previous version](https://gitlab.com/spacebase/spacebase/merge_requests/10/diffs?diff_id=10535185&start_sha=fb9528df8dfe0970f95742d9c08ca32bb94e19b7)

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:07

resolved all discussions

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:07

merged

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @aspiringweb on Jan 25, 2018, 19:07

mentioned in commit 7476f040c196c86a3feb209b7fe2ed8d08846188

[2020-03-10 05:45] treasuretron commented on #406
In GitLab by @richbodo on Feb 8, 2018, 21:43

This seems like the right thing to do.  In our next rev we will probably change the sending domain to the apex.

[2020-03-10 05:45] #406 closed

[2020-03-10 05:45] treasuretron opened #407 "ui updates, mobile nav - [merged]"
In GitLab by @137px on Jan 26, 2018, 19:27

_Merges ui-updates -> master_

[2020-03-10 05:45] treasuretron commented on #407
In GitLab by @aspiringweb on Jan 27, 2018, 21:23

merged

[2020-03-10 05:45] treasuretron commented on #407
In GitLab by @aspiringweb on Jan 27, 2018, 21:23

mentioned in commit 23194a86de8feed72cf4fbddfafb3645cd4db086

[2020-03-10 05:45] #407 closed

[2020-03-10 05:45] treasuretron opened #408 "Profiles theming - [merged]"
In GitLab by @137px on Jan 27, 2018, 19:52

_Merges profiles-theming -> master_

Theme user profile

[2020-03-10 05:45] treasuretron commented on #408
In GitLab by @aspiringweb on Jan 27, 2018, 21:13

merged

[2020-03-10 05:45] treasuretron commented on #408
In GitLab by @aspiringweb on Jan 27, 2018, 21:13

mentioned in commit 1c4b3b4b1d58616fcd4b81f6cb8aae03d2d1d981

[2020-03-10 05:45] #408 closed

[2020-03-10 05:46] treasuretron opened #409 "Org and user profile, user nav - [merged]"
In GitLab by @137px on Jan 28, 2018, 18:49

_Merges UI-org-profiles -> master_

Org profile and user profile updates, user nav

[2020-03-10 05:46] treasuretron commented on #409
In GitLab by @137px on Jan 28, 2018, 19:00

merged

[2020-03-10 05:46] treasuretron commented on #409
In GitLab by @137px on Jan 28, 2018, 19:00

mentioned in commit 34eef1069b5051c35ed5f03c78e0735d6eca5d59

[2020-03-10 05:46] #409 closed

[2020-03-10 05:46] treasuretron opened #410 "theming changes - [merged]"
In GitLab by @137px on Jan 29, 2018, 10:59

_Merges UI-updates-128 -> master_

[2020-03-10 05:46] treasuretron commented on #410
In GitLab by @137px on Jan 29, 2018, 11:06

merged

[2020-03-10 05:46] treasuretron commented on #410
In GitLab by @137px on Jan 29, 2018, 11:06

mentioned in commit d40103ab1556d796c990ef891c01949f0909bfc8

[2020-03-10 05:46] #410 closed

[2020-03-10 05:47] treasuretron opened #411 "WIP: Resolve "User Profile Creation fields need several changes" - [closed]"
In GitLab by @StephenCataldo on Feb 7, 2018, 19:35

_Merges 36-user-profile-creation-fields-need-several-changes -> master_

Closes #36

[2020-03-10 05:47] treasuretron commented on #411
In GitLab by @StephenCataldo on Feb 7, 2018, 19:35

closed

[2020-03-10 05:47] treasuretron commented on #411
In GitLab by @StephenCataldo on Feb 7, 2018, 19:36

reopened

[2020-03-10 05:47] treasuretron commented on #411
In GitLab by @StephenCataldo on Feb 7, 2018, 19:40

closed

[2020-03-10 05:47] #411 closed

[2020-03-10 05:49] treasuretron opened #412 "email experiment -- email config issues on localhost, try platform - [merged]"
In GitLab by @StephenCataldo on May 18, 2018, 02:23

_Merges UI-members---email-notifications -> UI-members-merged_

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 19:34

added 1 commit

<ul><li>b9f20363 - UI-members---email-notifications  Email issues on localhost, so sending code to…</li></ul>

[Compare with previous version](https://gitlab.com/spacebase/spacebase/merge_requests/129/diffs?diff_id=14701263&start_sha=745fd28bc9c1bf1f9b6aea77a43f881d20a28987)

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 19:46

added 1 commit

<ul><li>2572bf95 - Improved wording of emails</li></ul>

[Compare with previous version](https://gitlab.com/spacebase/spacebase/merge_requests/129/diffs?diff_id=14701354&start_sha=b9f20363f8d4e0d696d2844732bac479f8647745)

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 19:54

added 1 commit

<ul><li>21dc4266 - typo</li></ul>

[Compare with previous version](https://gitlab.com/spacebase/spacebase/merge_requests/129/diffs?diff_id=14701439&start_sha=2572bf95d2586673e4660b0833cfbe2021c16d46)

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 20:01

added 1 commit

<ul><li>c4e97c5c - one space typo</li></ul>

[Compare with previous version](https://gitlab.com/spacebase/spacebase/merge_requests/129/diffs?diff_id=14701480&start_sha=21dc4266d31faf1aca140125aad05d480378fdd5)

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 20:08

mentioned in commit 088f5ac1bad1b6dc8fc227d346116d4787463041

[2020-03-10 05:49] treasuretron commented on #412
In GitLab by @StephenCataldo on May 18, 2018, 20:08

merged

[2020-03-10 05:49] #412 closed

[2020-03-10 05:49] treasuretron opened #413 "Resolve "Organization role should show for members in grid view on org members page" - [merged]"
In GitLab by @StephenCataldo on May 20, 2018, 18:52

_Merges 159-redo-view-UI-members-merged -> UI-members-merged_

Refs #159-redo-view-UI-members-merged to use organizational descripttive-role, rather than the groups permissions role

[2020-03-10 05:50] treasuretron commented on #413
In GitLab by @StephenCataldo on May 20, 2018, 19:02

mentioned in commit 937ca29465d73dba72b4ba9d02ca4da397a02b74

[2020-03-10 05:50] treasuretron commented on #413
In GitLab by @StephenCataldo on May 20, 2018, 19:02

merged

[2020-03-10 05:50] #413 closed

[2020-03-10 05:50] treasuretron opened #414 "Resolve both "Org owners, During editing of a member of their og, Can edit only the member role" and then redirect back to org page - [merged]"
In GitLab by @StephenCataldo on May 20, 2018, 20:13

_Merges 160-reduce-admin-options-editing-org-members -> UI-members-merged_

Completes #160 and #161

[2020-03-10 05:50] treasuretron commented on #414
In GitLab by @StephenCataldo on May 20, 2018, 21:10

mentioned in commit 0177b4cae4d44904110e11216c98c8be01d49332

[2020-03-10 05:50] treasuretron commented on #414
In GitLab by @StephenCataldo on May 20, 2018, 21:10

merged

[2020-03-10 05:50] #414 closed

[2020-03-10 05:50] treasuretron opened #415 "Resolve "Confirmation page for member deletion should be descriptive of the context" - [merged]"
In GitLab by @StephenCataldo on May 20, 2018, 22:30

_Merges 162-confirmation-for-member-deletion -> UI-members-merged_

Deals with #162 — possible text changes would be an easy fix

[2020-03-10 05:50] treasuretron commented on #415
In GitLab by @StephenCataldo on May 20, 2018, 22:38

mentioned in commit 61252bd6138e216c589c66c51e6f2a410b031d70

[2020-03-10 05:50] treasuretron commented on #415
In GitLab by @StephenCataldo on May 20, 2018, 22:38

merged

[2020-03-10 05:50] #415 closed

[2020-03-11 01:30] treasuretron opened #416 "website helper-hover txt extends past bubble"
on signup page I'm taken to after clicking link in email. Filling out account details, the hover helper bubble text extends past the bubble (see screenshot)

Firefox 72.0.2
MacOS 10.14.6

<img width="428" alt="Screen Shot 2020-03-10 at 9 28 02 PM" src="https://user-images.githubusercontent.com/679113/76373263-4d90ff80-6316-11ea-89e5-dfe7d5ccfbdb.png">

[2020-03-11 01:30] treasuretron commented on #416
also it has raw html in it...

[2020-03-11 01:40] treasuretron opened #417 "signup page has too many fields"
not sure exactly which ones are supposed to be relevant but I'm seeing a lot of fields which are clearly unintentional. After website, I see the following fields to fill out:

Metatags

Configure the meta tags below.
To view a summary of the individual meta tags and the pattern for a specific configuration, click on its name below. Use tokens to avoid redundant meta data and search engine penaliza

[2020-03-11 01:43] treasuretron opened #418 "can't save user info"
on edit account settings page, when clicking the save button at the bottom, a bubble is shown at the search bar at the top asking me to, "Please enter a URL."

<img width="1167" alt="Screen Shot 2020-03-10 at 9 42 33 PM" src="https://user-images.githubusercontent.com/679113/76373936-26d3c880-6318-11ea-931f-f8e1ad897264.png">

[2020-03-11 01:46] treasuretron commented on #418
ok strangely this was only happening because under the Website field I didn't have http:// in my url but did have www. Once I added http:// it allowed me to save the details and also all the spurious fields as mentioned in https://github.com/spacebase/spacebasenz/issues/417 disappeared.

[2020-03-11 01:46] treasuretron commented on #417
once I was able to save the page by making sure I had a full URL, the fields went away, see https://github.com/spacebase/spacebasenz/issues/418

[2020-03-11 01:53] treasuretron opened #419 "private message To: field auto-fill"
on http://live-spacebasenz.pantheonsite.io/private_message/create the auto-fill menu is too transparent, see screenshot. Can see tool icons through auto-fill

<img width="700" alt="Screen Shot 2020-03-10 at 9 51 00 PM" src="https://user-images.githubusercontent.com/679113/76374410-82528600-6319-11ea-9716-2a57bc7b28d1.png">

[2020-03-11 01:56] treasuretron opened #420 "private message inbox issues"
Wrote Rich a test message. Private Message Inbox shows the message as a conversation between "You and trav fryer". Should say, "You and Rich Bodo". Also clicking the message does nothing.

<img width="1156" alt="Screen Shot 2020-03-10 at 9 55 01 PM" src="https://user-images.githubusercontent.com/679113/76374583-086ecc80-631a-11ea-93aa-f661806a5356.png">

[2020-03-11 02:00] treasuretron commented on #420
immediately after sending a message, the private messages page allows me to display different messages. If I navigate away from that page and back to it, loading private messages does not work. Also, it seems the initial issue that my message said between me and myself might have been user error on my part because when I sent Rich a second test message it displays correctly as between "You and Ric

[2020-03-11 02:11] treasuretron opened #421 "join organization bubble displays off-page"
1. navigated to http://live-spacebasenz.pantheonsite.io/org/spacebase
2. clicked Join Organization
3. was brought to http://live-spacebasenz.pantheonsite.io/group/15/join where a very long text field for Organization Role was displayed. The helper bubble for this field displays so far to the right that it is cut off, though can be displayed if you scroll to the right.

<img width="1280" alt="Scree

[2020-03-11 02:12] treasuretron commented on #420
and now suddenly http://live-spacebasenz.pantheonsite.io/private_messages/ is allowing me to view private messages.

[2020-03-11 03:16] spacerich commented on #418
Ah, yes.  This is a really annoying thing that I have brought up before.  You have to know, magically, that  URLs must be fully qualified with protocol declaration at the start.  This is not normal in any modern web experience.

[2020-03-11 03:27] spacerich commented on #418
Oh, there is another bug here that is more important than that UX issue, and that is that the  bubble points to an invisible field - I'll try to duplicate - this is a second UX category that is really confusing to people.

[2020-03-11 03:28] spacerich commented on #418
And configure "meta-tags"?   oof.  This is going to have to lump into another issue on the whole signup form topic.

[2020-03-11 03:29] epaatdahlstrom commented on #108
The confirmation email can be simplifield to:

Test2020,

Thank you for registering at SpaceBase. Log in and set your password using the link below:

http://live-spacebasenz.pantheonsite.io/user/reset/993/1583896713/gRBUBvQQLdg-7-jBrJwe_43wLXdKhRzNKzEsdudJz7U

This link is only valid once.

Below information should be stated after they reset their password, and not in this email.

_**After setting

[2020-03-11 03:49] epaatdahlstrom opened #422 "Donate Button disappeared"
We used to have a Support button on the top nav (next to search button) that links to the Support us page (it also disappeared in the old website).
It should lead to this:

https://spacebase.co/donate

[2020-03-11 03:55] spacerich opened #423 "Terms of Use: Fixup grammar"
Last section where we want to adjudicate in NZ, I botched that phrase:

Human-readable summary of Sec 16: If there is a lawsuit arising from these terms, it should be in New Zealand a law. We are glad you use our sites, but this agreement does not mean we are partners.

[2020-03-11 04:11] epaatdahlstrom opened #424 "Search Button in middle of page not working"
The Search button in the middle of the front page (seew image) goes to below link no matter what you search.

http://live-spacebasenz.pantheonsite.io/search?keywords=Orbica
You then need to redo your search on above link to get to show right results.

The other search buttons on the top nav  works.
<img width="1228" alt="Screen Shot 2020-03-11 at 5 08 36 PM" src="https://user-images.githubusercont

[2020-03-11 04:17] spacerich opened #425 "Same browser login bug"
This happens when clicking on a login link that you receive in email, while trying to sign up.

To duplicate:

1) Log in as user1
2) Click the sign up button and create user2
3) Check your email and click on the link
4) You will see that you are logged in
5) You will see a notification bubble that says "Another user is logged in (user1), so you should log out and log back in as the new user.

I ha

[2020-03-11 04:18] epaatdahlstrom opened #426 "Private Message email bug"
Testing private message to self.
Automatic email notification that went to my email has this html syntax bug:

emeline,
You have received a private message at SpaceBase from Test2020

The message is as follows:

**<p>Testing message</p>**

You can view the entire thread and reply to this message at:

http://live-spacebasenz.pantheonsite.io/private_messages/15

Thank you,

-- SpaceBase

[2020-03-12 00:30] treasuretron opened #427 "design on news page is wonky"
all the posts seem bunched up, hard to tell which photo goes with each post.

FF 72.0.2 on mac

<img width="1192" alt="Screen Shot 2020-03-11 at 8 29 11 PM" src="https://user-images.githubusercontent.com/679113/76476029-1171a380-63d7-11ea-85d9-3270e5007625.png">

[2020-03-13 07:49] StephenCataldo commented on #422
I think it's fixed now, put into place all in the browser.

Theming in the nav bar is very difficult and doesn't seem to work on all browsers, there's super complex css on the search box next to it. The whole section could really use rethinking to a more standard grid if anyone continues developing — OR, keep trying sliding it around and clears or floats.

[2020-03-29 22:21] richbodo opened #428 "At signs should be disallowed from usernames"
Otherwise, if users use their email address as their username, we end up exposing them like so on their profile:

<div class="field field--name-user-picture field--type-image field--label-hidden field--item">  <img src="/sites/default/files/styles/profile_photo/public/default_images/default-user_0.jpg?itok=5FfYfQwo" width="200" height="200" alt="Profile picture for user richbodo@gmail.com" typeof=

[2020-09-07 05:05] harshal6 opened #433 "Groups should be prevented from updates and restricted to 1.x-dev"
- Applying patches for drupal/permissions_by_term
    https://www.drupal.org/files/issues/2019-04-12/3041315-group-integration-2.patch (8.x-2.10: Integrate with group)
   Could not apply patch! Skipping. The error was: Cannot apply patch https://www.drupal.org/files/issues/2019-04-12/3041315-group-integration-2.patch

  - Updating drupal/entity dev-1.x (7b7fe77 => 3d3a999):  Checking out 3d3a99924

[2020-11-10 03:54] StephenCataldo opened #434 "PHP versions need update at CircleCI and localhost"
CircleCI is loading config.platform.php = platform which we no longer use. It's using an older PHP causing problems.

Pantheon uses PHP 7.2 (I checked the settings) which means our live site is fine but not being tested correctly by CircleCI.

Plan: cut the link to that platform config, and also document how we handle PHP.
Maybe while we’re at it, check that Lando is also using PHP7.2

[2020-12-18 02:25] spacerich opened #435 "Menu system rewrite - dump grid menu - lots of fixes"
Rewrite of the top menu system on spacebase.co.  New menu will consist of two rows, rather than one.  We might have follow on tickets to iterate on this.  Lets get this going on the pantheon test site so that we can review before we deploy to production.  Ping Em and Rich when you are ready to review.

Testing:

- When done, test responsiveness and the links on mobile, chrome, firefox, safari.
- R

[2020-12-18 02:32] spacerich opened #436 "Search box on front page below the map should search people and organizations"
Currently, the search box on the front page of spacebase.co performs a full text search without people and organizations selected.  This results in poor search results.  Instead, it should search the directory (group and user datasources).

So a search for "asdf" should pull up the page:

http://spacebase.co/search?search_api_fulltext=asdf&search_api_datasource%5Bentity%3Agroup%5D=entity%3Agroup&s